In [11]:
import pandas as pd
import matplotlib.pyplot as plt

def carga(path):
    data = pd.read_csv(path)
    return data

data = carga('data.csv')
print(data)

   ID       Name   Age   Salary Department    JoinDate Active
0   1    Alice    25.0    50000      Sales  2022-01-15   True
1   2        Bob   NaN    60000  Marketing  2021-11-20   True
2   3    Charlie  30.0    75000       IT    2023-03-10  False
3   4    David    40.0    80000         HR  2020-09-01   True
4   5      Eve    22.0    45000      Sales  2022-05-28    NaN
5   6  Mallory    55.0  1000000       IT    2021-07-12   True
6   7      Oscar   NaN    55000  Marketing  2023-06-05  False
7   8     Victor  31.0    62000      Sales  2022-12-01   True
8   9      Zoe    28.0    58000         HR  2021-04-18  False
9  10    Alice    25.0    50000      Sales  2022-01-15   True

In [8]:
# Identificar datos faltantes
print('\nValores faltantes por columna: ', data.isnull().sum())

# Eliminar filas con CUALQUIER valor faltante
waterdrop = data.dropna()

# Eliminar filas donde TODOS los valores son faltantes
waterdrop_all = data.dropna(how='all')

# Eliminar si la columna especifica con datos faltantes
waterdrop_specific = data.dropna(subset=['Age'])

print(waterdrop)
print()
print(waterdrop_all)
print()
print(waterdrop_specific)

Valores faltantes por columna:  ID            0
Name          0
Age           2
Salary        0
Department    0
JoinDate      0
Active        1
dtype: int64
   ID       Name   Age   Salary Department    JoinDate Active
0   1    Alice    25.0    50000      Sales  2022-01-15   True
2   3    Charlie  30.0    75000       IT    2023-03-10  False
3   4    David    40.0    80000         HR  2020-09-01   True
5   6  Mallory    55.0  1000000       IT    2021-07-12   True
7   8     Victor  31.0    62000      Sales  2022-12-01   True
8   9      Zoe    28.0    58000         HR  2021-04-18  False
9  10    Alice    25.0    50000      Sales  2022-01-15   True

   ID       Name   Age   Salary Department    JoinDate Active
0   1    Alice    25.0    50000      Sales  2022-01-15   True
1   2        Bob   NaN    60000  Marketing  2021-11-20   True
2   3    Charlie  30.0    75000       IT    2023-03-10  False
3   4    David    40.0    80000         HR  2020-09-01   True
4   5      Eve    22.0    45000      Sales  2022-05-28    NaN
5   6  Mallory    55.0  1000000       IT    2021-07-12   True
6   7      Oscar   NaN    55000  Marketing  2023-06-05  False
7   8     Victor  31.0    62000      Sales  2022-12-01   True
8   9      Zoe    28.0    58000         HR  2021-04-18  False
9  10    Alice    25.0    50000      Sales  2022-01-15   True

   ID       Name   Age   Salary Department    JoinDate Active
0   1    Alice    25.0    50000      Sales  2022-01-15   True
2   3    Charlie  30.0    75000       IT    2023-03-10  False
3   4    David    40.0    80000         HR  2020-09-01   True
4   5      Eve    22.0    45000      Sales  2022-05-28    NaN
5   6  Mallory    55.0  1000000       IT    2021-07-12   True
7   8     Victor  31.0    62000      Sales  2022-12-01   True
8   9      Zoe    28.0    58000         HR  2021-04-18  False
9  10    Alice    25.0    50000      Sales  2022-01-15   True

In [ ]:
# DATOS FALTANTES

#Identifica dato faltantes
print("\nValores faltantes por columna: ", data.isnull().sum())

#Rellena con una constante
data_fill_const = data.fillna(0)

#Rellena los datos de 'Age' con media
mean_age = data.mean()
data['Age'] = data['Age'].fillna(mean_age)

# Rellena los datos de 'Active' faltantes con la moda
mode_active = data['Active'].mode()[0]
data['Active'].fillna(mode_active)

# RELLENAR VALORES FALTANTES CON 'FORWARD FILL', especialmente util cuando faltan datos numericos o de tiempo
datafill = data.ffill()

# rellenar valores daltantes con 'back fill'
databfill = data.bfill()

In [15]:
#DATOS DUPLICADOS

#ElIMINACION DE DATOS DUPLICADOS

df_no_duplicates_ID = data.drop_duplicates(subset=['ID'])

# Si no indicamos subconjunto, se eliminan las filas que son completamente identicas

df_no_duplicates = data.drop_duplicates()

In [16]:
# CONVERSION DE TIPOS

# Convierte a date type

data['JoinDate'] = pd.to_datetime(data['JoinDate'])

## Valores atipicos

In [21]:
# EJEMPLO DE MANEJO DE VALORES ATIPICOS EN EL CONJUNTO DE DATOS\

Q1 = data['Salary'].quantile(0.25)
Q3 = data['Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(lower_bound, upper_bound)
# Identificar datos atipicos
outliers = data[(data['Salary'] < lower_bound) | (data['Salary'] > upper_bound)]
print("Datos Atipicos en Salary: \n", outliers)

# Eliminar datos atipicos
data_no_outliers

20500.0 102500.0
Datos Atipicos en Salary:
    ID       Name   Age   Salary Department   JoinDate Active
5   6  Mallory    55.0  1000000       IT   2021-07-12   True

## Limpieza de Texto

In [ ]:
# Convertir el texto a minuscilas asegura la consistencia y evita tratar 'sales' y 'Sales' como categorias diferentes

data['Department'] = data['Department'].str.lower()

# Elimina espacios en blanco no deseados

data['Department'] = data['Department'].str.strip()
data['Name'] = data['Name'].str.strip()

# Reemplazar subcadenas
data['Department'] = data['Department'].str.replace('it','Information Technologies')

## Renombramiento de columnas

## Filtrar Filas