# Actividad 3.1

De la pagina: https://www.worldometers.info/coronavirus/

Extraer en un archivo Excel que contenga la siguiente info de todo el mundo por continente:

- Country
- Total Cases
- Total Recovered
- Active Cases

In [2]:
import requests as req
from bs4 import BeautifulSoup as soop

url = 'https://www.worldometers.info/coronavirus/'

page = req.get(url)
soup = soop(page.content, 'html.parser')

<div class="main_table_countries_div">
 <table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
  <thead>
   <tr>
    <th width="1%">
     #
    </th>
    <th width="100">
     Country,
     <br>
      Other
     </br>
    </th>
    <th width="20">
     Total
     <br>
      Cases
     </br>
    </th>
    <th width="30">
     New
     <br>
      Cases
     </br>
    </th>
    <th width="30">
     Total
     <br>
      Deaths
     </br>
    </th>
    <th width="30">
     New
     <br>
      Deaths
     </br>
    </th>
    <th width="30">
     Total
     <br>
      Recovered
     </br>
    </th>
    <th width="30">
     New
     <br>
      Recovered
     </br>
    </th>
    <th width="30">
     Active
     <br/>
     Cases
    </th>
    <th width="30">
     Serious,
     <br/>
     Critical
    </th>
    <th width="30">
     TotÂ Cases/
     <br/>
     1M pop
    </th>
    <th width="30">
     Deaths/
     <br/>
     1M pop
    </th>
    <th width="30">
     Total
     <br/>
     Tests
    </th>
    <th width="30">
     Tests/
     <br/>
     <nobr>
      1M pop
     </nobr>
    </th>
    <th width="30">
     Population
    </th>
    <th style="display:none" width="30">
     Continent
    </th>
    <th width="30">
     1 Case
     <br/>
     every X ppl
    </th>
    <th width="30">
     1 Death
     <br/>
     every X ppl
    </th>
    <th width="30">
     1 Test
     <br/>
     every X ppl
    </th>
    <th width="30">
     New Cases/1M pop
    </th>
    <th width="30">
     New Deaths/1M pop
    </th>
    <th width="30">
     Active Cases/1M pop
    </th>
   </tr>
  </thead>
  <tbody>
   <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      North America
     </nobr>
    </td>
    <td>
     131,889,132
    </td>
    <td>
    </td>
    <td>
     1,695,941
    </td>
    <td>
    </td>
    <td>
     127,665,129
    </td>
    <td>
     +350
    </td>
    <td>
     2,528,062
    </td>
    <td>
     6,095
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="North America" style="display:none;">
     North America
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      Asia
     </nobr>
    </td>
    <td>
     221,500,265
    </td>
    <td>
    </td>
    <td>
     1,553,662
    </td>
    <td>
    </td>
    <td>
     205,673,091
    </td>
    <td>
    </td>
    <td>
     14,273,512
    </td>
    <td>
     14,733
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="Asia" style="display:none;">
     Asia
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      Europe
     </nobr>
    </td>
    <td>
     253,406,198
    </td>
    <td>
    </td>
    <td>
     2,101,824
    </td>
    <td>
    </td>
    <td>
     248,754,104
    </td>
    <td>
     +474
    </td>
    <td>
     2,550,270
    </td>
    <td>
     4,453
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="Europe" style="display:none;">
     Europe
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      South America
     </nobr>
    </td>
    <td>
     70,200,879
    </td>
    <td>
    </td>
    <td>
     1,367,332
    </td>
    <td>
    </td>
    <td>
     66,683,585
    </td>
    <td>
    </td>
    <td>
     2,149,962
    </td>
    <td>
     8,953
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="South America" style="display:none;">
     South America
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      Oceania
     </nobr>
    </td>
    <td>
     14,895,771
    </td>
    <td>
    </td>
    <td>
     33,015
    </td>
    <td>
    </td>
    <td>
     14,752,388
    </td>
    <td>
    </td>
    <td>
     110,368
    </td>
    <td>
     31
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="Australia/Oceania" style="display:none;">
     Australia/Oceania
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
      Africa
     </nobr>
    </td>
    <td>
     12,860,924
    </td>
    <td>
    </td>
    <td>
     258,892
    </td>
    <td>
    </td>
    <td>
     12,090,808
    </td>
    <td>
    </td>
    <td>
     511,224
    </td>
    <td>
     529
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="Africa" style="display:none;">
     Africa
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world row_continent" data-continent="" style="display: none">
    <td>
    </td>
    <td style="text-align:left;">
     <nobr>
     </nobr>
    </td>
    <td>
     721
    </td>
    <td>
    </td>
    <td>
     15
    </td>
    <td>
    </td>
    <td>
     706
    </td>
    <td>
    </td>
    <td>
     0
    </td>
    <td>
     0
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="" style="display:none;">
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr class="total_row_world">
    <td>
    </td>
    <td style="text-align:left;">
     World
    </td>
    <td>
     704,753,890
    </td>
    <td>
     0
    </td>
    <td>
     7,010,681
    </td>
    <td>
     0
    </td>
    <td>
     675,619,811
    </td>
    <td>
     +790
    </td>
    <td>
     22,123,398
    </td>
    <td>
     34,794
    </td>
    <td>
     90,413
    </td>
    <td>
     899.4
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td data-continent="all" style="display:none">
     All
    </td>
    <!-- 1 Case every X -->
    <td>
    </td>
    <!-- 1 Death every X -->
    <td>
    </td>
    <!-- 1 test every X -->
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
   </tr>
   <tr style="">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     1
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/us/">
      USA
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     111,820,082
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     1,219,487
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     109,814,428
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="text-align:right;font-weight:bold;">
     786,167
    </td>
    <td style="font-weight: bold; text-align:right">
     940
    </td>
    <td style="font-weight: bold; text-align:right">
     333,985
    </td>
    <td style="font-weight: bold; text-align:right">
     3,642
    </td>
    <td style="font-weight: bold; text-align:right">
     1,186,851,502
    </td>
    <td style="font-weight: bold; text-align:right">
     3,544,901
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/us-population/">
      334,805,269
     </a>
    </td>
    <td data-continent="North America" style="display:none">
     North America
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     3
    </td>
    <td>
     275
    </td>
    <td>
     0
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     2,348
    </td>
   </tr>
   <tr style="">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     2
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/india/">
      India
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     45,035,393
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     533,570
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right;">
     N/A
    </td>
    <td style="text-align:right;font-weight:bold;">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     32,016
    </td>
    <td style="font-weight: bold; text-align:right">
     379
    </td>
    <td style="font-weight: bold; text-align:right">
     935,879,495
    </td>
    <td style="font-weight: bold; text-align:right">
     665,334
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/india-population/">
      1,406,631,776
     </a>
    </td>
    <td data-continent="Asia" style="display:none">
     Asia
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     31
    </td>
    <td>
     2,636
    </td>
    <td>
     2
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     0.4
    </td>
   </tr>
   <tr style="background-color:#F0F0F0">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     3
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/france/">
      France
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     40,138,560
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     167,642
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     <span style="color:grey; font-style: italic;">
      39,970,918
     </span>
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="text-align:right;font-weight:bold;">
     0
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     612,013
    </td>
    <td style="font-weight: bold; text-align:right">
     2,556
    </td>
    <td style="font-weight: bold; text-align:right">
     271,490,188
    </td>
    <td style="font-weight: bold; text-align:right">
     4,139,547
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/france-population/">
      65,584,518
     </a>
    </td>
    <td data-continent="Europe" style="display:none">
     Europe
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     2
    </td>
    <td>
     391
    </td>
    <td>
     0
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
   </tr>
   <tr style="">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     4
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/germany/">
      Germany
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     38,828,995
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     183,027
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     38,240,600
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="text-align:right;font-weight:bold;">
     405,368
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     462,891
    </td>
    <td style="font-weight: bold; text-align:right">
     2,182
    </td>
    <td style="font-weight: bold; text-align:right">
     122,332,384
    </td>
    <td style="font-weight: bold; text-align:right">
     1,458,359
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/germany-population/">
      83,883,596
     </a>
    </td>
    <td data-continent="Europe" style="display:none">
     Europe
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     2
    </td>
    <td>
     458
    </td>
    <td>
     1
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     4,833
    </td>
   </tr>
   <tr style="">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     5
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/brazil/">
      Brazil
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     38,743,918
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     711,380
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     36,249,161
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="text-align:right;font-weight:bold;">
     1,783,377
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     179,908
    </td>
    <td style="font-weight: bold; text-align:right">
     3,303
    </td>
    <td style="font-weight: bold; text-align:right">
     63,776,166
    </td>
    <td style="font-weight: bold; text-align:right">
     296,146
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/brazil-population/">
      215,353,593
     </a>
    </td>
    <td data-continent="South America" style="display:none">
     South America
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     6
    </td>
    <td>
     303
    </td>
    <td>
     3
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     8,281
    </td>
   </tr>
   <tr style="background-color:#F0F0F0">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     6
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/south-korea/">
      S. Korea
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     34,571,873
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     35,934
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     <span style="color:grey; font-style: italic;">
      34,535,939
     </span>
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="text-align:right;font-weight:bold;">
     0
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
     673,523
    </td>
    <td style="font-weight: bold; text-align:right">
     700
    </td>
    <td style="font-weight: bold; text-align:right">
     15,804,065
    </td>
    <td style="font-weight: bold; text-align:right">
     307,892
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/south-korea-population/">
      51,329,899
     </a>
    </td>
    <td data-continent="Asia" style="display:none">
     Asia
    </td>
    <!-- 1 Case/Death/Test every X -->
    <td>
     1
    </td>
    <td>
     1,428
    </td>
    <td>
     3
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
    <td style="font-weight: bold; text-align:right">
    </td>
   </tr>
   <tr style="">
    <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">
     7
    </td>
    <td style="font-weight: bold; font-size:15px; text-align:left;">
     <a class="mt_a" href="country/japan/">
      Japan
     </a>
    </td>
    <td style="font-weight: bold; text-align:right">
     33,803,572
    </td>
    <td style="font-weight: bold; text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right;">
     74,694
    </td>
    <td style="font-weight: bold;
                                    text-align:right;">
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right;">
     N/A
    </td>
    <td style="text-align:right;font-weight:bold;">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     N/A
    </td>
    <td style="font-weight: bold; text-align:right">
     269,169
    </td>
    <td style="font-weight: bold; text-align:right">
     595
    </td>
    <td style="font-weight: bold; text-align:right">
     100,414,883
    </td>
    <td style="font-weight: bold; text-align:right">
     799,578
    </td>
    <td style="font-weight: bold; text-align:right">
     <a href="/world-population/japan-population/">
      125,584,838
     </a>
    </td>
    <td data-continent="Asia" style="display:none">

In [9]:
countries = soup.find(class_="main_table_countries_div")
continents = countries.find(class_="total_row_world row continent")['data-continent']
#print(countries.prettify())
print(continents)

TypeError: 'NoneType' object is not subscriptable