# Actividad 3.1

De la pagina: https://www.worldometers.info/coronavirus/

Extraer en un archivo Excel que contenga la siguiente info de todo el mundo por continente:

- Country
- Total Cases
- Total Recovered
- Active Cases

Primero, obtenemos la información de la pagina

In [1]:
import requests as req
from bs4 import BeautifulSoup as soop

url = 'https://www.worldometers.info/coronavirus/'

page = req.get(url)
soup = soop(page.content, 'html.parser')

Inicializamos la clase continente para hacer más facil la clasificación de datos

In [2]:
class Continente:
    def __init__(self, id:[],cntry:[],cases:[],death:[],rcvd:[], active:[]):
        self.id = id
        self.country = cntry
        self.cases = cases
        self.dead = death
        self.recovered = rcvd
        self.active = active

El método extracción, como su nombre lo indica, extrae de la página los datos necesarios de la tabla. La informacion se obtiene a traves de los indices td

In [3]:
def extraccion(obj,clase):
    #print(obj)
    for fil in obj:
        cells = fil.find_all('td')
        #print(cells)

        clase.id.append(cells[0].get_text())  # id
        clase.country.append(cells[1].get_text())  # Country
        clase.cases.append(cells[2].get_text())  # Total Cases
        clase.dead.append(cells[4].get_text())  # Total Deaths
        clase.recovered.append(cells[6].get_text())  # Total Recovered # Population
        clase.active.append(cells[8].get_text())

In [4]:
countries = soup.find(id="main_table_countries_today")
rows = countries.find('tbody').find_all('tr')

asia_rows = [row for row in rows if row.find('td', {'data-continent': 'Asia'})]
na_rows = [row for row in rows if row.find('td', {'data-continent': 'North America'})]
europe_rows = [row for row in rows if row.find('td', {'data-continent': 'Europe'})]
sa_rows = [row for row in rows if row.find('td', {'data-continent': 'South America'})]
africa_rows = [row for row in rows if row.find('td', {'data-continent': 'Africa'})]
oceania_rows = [row for row in rows if row.find('td', {'data-continent': 'Australia/Oceania'})]

# Procesa cada fila
North_America = Continente([],[],[],[],[],[])
South_America = Continente([],[],[],[],[],[])
Europe = Continente([],[],[],[],[],[])
Asia = Continente([],[],[],[],[],[])
Africa = Continente([],[],[],[],[],[])
Oceania = Continente([],[],[],[],[],[])

extraccion(na_rows,North_America)
extraccion(sa_rows,South_America)
extraccion(europe_rows,Europe)
extraccion(asia_rows,Asia)
extraccion(africa_rows,Africa)
extraccion(oceania_rows,Oceania)

In [5]:
import pandas as pd

DFNA = pd.DataFrame(
    {
        "id":North_America.id,
        "Country":North_America.country,
        "Total Cases":North_America.cases,
        "Total Deaths":North_America.dead,
        "Total Recovered":North_America.recovered,
        "Active":North_America.active
    }
)
DFSA = pd.DataFrame(
    {
        "id":South_America.id,
        "Country":South_America.country,
        "Total Cases":South_America.cases,
        "Total Deaths":South_America.dead,
        "Total Recovered":South_America.recovered,
        "Active":South_America.active
    }
)
DFEUR = pd.DataFrame({
    "id":Europe.id,
    "Country":Europe.country,
    "Total Cases":Europe.cases,
    "Total Deaths":Europe.dead,
    "Total Recovered":Europe.recovered,
    "Active":Europe.active
})
DFASIA = pd.DataFrame({
    "id":Asia.id,
    "Country":Asia.country,
    "Total Cases":Asia.cases,
    "Total Deaths":Asia.dead,
    "Total Recovered":Asia.recovered,
    "Active":Asia.active
})
DFAFR = pd.DataFrame({
    "id":Africa.id,
    "Country":Africa.country,
    "Total Cases":Africa.cases,
    "Total Deaths":Africa.dead,
    "Total Recovered":Africa.recovered,
    "Active":Africa.active
})
DFOC = pd.DataFrame({
        "id":Oceania.id,
        "Country":Oceania.country,
        "Total Cases":Oceania.cases,
        "Total Deaths":Oceania.dead,
        "Total Recovered":Oceania.recovered,
        "Active":Oceania.active
})

Por continente y pais, ¿cuál es el total de casos de COVID?

Por continente y pais, ¿cuantos casos de COVID se encuentran activos?

Por continente y pais, ¿en cuantos casos se recuperaron?

In [6]:
DFNA

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nNorth America\n,"131,889,132","1,695,941","127,665,129","2,528,062"
1,1,USA,"111,820,082","1,219,487","109,814,428","786,167"
2,18,Mexico,"7,702,809","334,958","6,899,865","467,986"
3,29,Canada,"4,946,090","59,034","4,881,312","5,744"
4,61,Guatemala,"1,291,293","20,289","1,269,891","1,113"
5,64,Costa Rica,"1,238,883","9,428",N/A,N/A
6,67,Cuba,"1,115,251","8,530","1,106,660",61
7,70,Panama,"1,059,893","8,727","1,051,102",64
8,81,Dominican Republic,"675,890","4,384","671,316",190
9,94,Honduras,"474,590","11,165",N/A,N/A
10,112,Martinique,"230,354","1,102",N/A,N/A
11,116,Guadeloupe,"203,235","1,021",N/A,N/A
12,117,El Salvador,"201,855","4,230","179,410","18,215"
13,118,Trinidad and Tobago,"191,496","4,390","187,078",28
14,123,Jamaica,"156,869","3,756",N/A,N/A
15,128,Barbados,"110,578",648,"108,647","1,283"
16,141,Belize,"71,409",688,N/A,N/A
17,154,Curaçao,"45,986",295,"44,720",971
18,155,Aruba,"44,224",292,"42,438","1,494"
19,161,Bahamas,"38,084",844,"36,366",874
20,164,Haiti,"34,667",860,"33,734",73
21,167,Cayman Islands,"31,472",37,"8,553","22,882"
22,168,Saint Lucia,"30,215",410,"29,805",0
23,180,Grenada,"19,693",238,"19,358",97
24,181,Bermuda,"18,860",165,"18,685",10
25,183,Nicaragua,"18,491",225,"4,225","14,041"
26,190,Dominica,"16,038",74,"15,964",0
27,194,Saint Martin,"12,324",63,N/A,N/A
28,196,Greenland,"11,971",21,"2,761","9,189"
29,198,Caribbean Netherlands,"11,682",38,"10,476","1,168"
30,199,Sint Maarten,"11,051",92,"10,905",54
31,202,St. Vincent Grenadines,"9,674",124,"9,493",57
32,205,Antigua and Barbuda,"9,106",146,"8,954",6
33,209,British Virgin Islands,"7,392",64,N/A,N/A
34,212,Turks and Caicos,"6,752",40,"6,709",3
35,213,Saint Kitts and Nevis,"6,607",48,"6,559",0
36,215,St. Barth,"5,507",6,N/A,N/A
37,218,Anguilla,"3,904",12,N/A,N/A
38,220,Saint Pierre Miquelon,"3,452",2,"2,449","1,001"
39,224,Montserrat,"1,403",8,"1,376",19

In [7]:
DFSA

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nSouth America\n,"70,200,879","1,367,332","66,683,585","2,149,962"
1,5,Brazil,"38,743,918","711,380","36,249,161","1,783,377"
2,16,Argentina,"10,128,845","130,841","9,997,258",746
3,22,Colombia,"6,400,173","143,200","6,212,152","44,821"
4,27,Chile,"5,384,853","64,497","5,252,450","67,906"
5,35,Peru,"4,572,667","222,161","4,350,506",0
6,65,Bolivia,"1,212,131","22,407","1,177,145","12,579"
7,68,Ecuador,"1,070,188","36,043","1,034,145",0
8,71,Uruguay,"1,041,111","7,664","1,030,944","2,503"
9,77,Paraguay,"837,602","20,155",N/A,N/A
10,88,Venezuela,"552,695","5,856","546,537",302
11,132,French Guiana,"98,041",420,"11,254","86,367"
12,136,Suriname,"82,588","1,408",N/A,N/A
13,140,Guyana,"74,137","1,300","72,013",824
14,223,Falkland Islands,"1,930",,"1,930",0

In [8]:
DFEUR

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nEurope\n,"253,406,198","2,101,824","248,754,104","2,550,270"
1,3,France,"40,138,560","167,642","39,970,918",0
2,4,Germany,"38,828,995","183,027","38,240,600","405,368"
3,8,Italy,"26,723,249","196,487","26,361,218","165,544"
4,9,UK,"24,910,387","232,112","24,678,275",0
5,10,Russia,"24,124,215","402,756","23,545,818","175,641"
6,12,Spain,"13,914,811","121,760","13,762,417","30,634"
7,17,Netherlands,"8,635,786","22,992","8,612,599",195
8,21,Poland,"6,661,991","120,598",N/A,N/A
9,23,Greece,"6,101,379","37,869",N/A,N/A
10,24,Austria,"6,081,287","22,542","6,054,934","3,811"
11,25,Portugal,"5,643,062","28,126","5,614,809",127
12,26,Ukraine,"5,557,995","112,418","5,445,577",0
13,30,Belgium,"4,861,695","34,376","4,826,798",521
14,34,Czechia,"4,759,041","43,517","4,715,206",318
15,36,Switzerland,"4,453,053","14,452","4,438,309",292
16,39,Romania,"3,529,735","68,929","3,460,149",657
17,40,Denmark,"3,183,756","8,814","3,174,942",0
18,43,Sweden,"2,754,129","27,407","2,726,492",230
19,45,Serbia,"2,615,054","18,057","2,596,608",389
20,47,Hungary,"2,230,232","49,048","2,152,155","29,029"
21,49,Slovakia,"1,877,605","21,224","1,856,381",0
22,52,Ireland,"1,734,582","9,491","1,724,921",170
23,54,Finland,"1,516,117","11,958","1,503,989",170
24,55,Norway,"1,509,732","6,638","1,503,094",0
25,57,Lithuania,"1,397,806","9,897","1,387,478",431
26,58,Slovenia,"1,356,546","7,100","1,349,424",22
27,59,Bulgaria,"1,339,851","38,748","1,292,944","8,159"
28,60,Croatia,"1,309,728","18,687","1,258,432","32,609"
29,74,Belarus,"994,037","7,118","985,592","1,327"
30,75,Latvia,"982,505","6,715","971,406","4,384"
31,85,Moldova,"635,145","12,218",N/A,N/A
32,86,Estonia,"628,070","3,001",N/A,N/A
33,96,Bosnia and Herzegovina,"403,615","16,388","379,084","8,143"
34,98,Luxembourg,"391,232","1,232",N/A,N/A
35,99,North Macedonia,"350,567","9,976","337,068","3,523"
36,103,Albania,"334,863","3,605","330,233","1,025"
37,105,Montenegro,"296,542","2,846","291,794","1,902"
38,114,Iceland,"209,906",229,N/A,N/A
39,127,Malta,"121,420",885,"120,149",386
40,130,Channel Islands,"101,717",228,"101,321",168
41,152,Andorra,"48,015",165,N/A,N/A
42,162,Isle of Man,"38,008",116,N/A,N/A
43,165,Faeroe Islands,"34,658",28,N/A,N/A
44,173,San Marino,"26,185",128,"26,011",46
45,178,Liechtenstein,"21,574",94,N/A,N/A
46,179,Gibraltar,"20,550",113,N/A,N/A
47,186,Monaco,"17,181",67,N/A,N/A
48,228,Vatican City,29,,29,0

In [9]:
DFAFR

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nAfrica\n,"12,860,924","258,892","12,090,808","511,224"
1,38,South Africa,"4,076,463","102,595","3,912,506","61,362"
2,62,Morocco,"1,278,992","16,303",N/A,N/A
3,66,Tunisia,"1,153,361","29,423",N/A,N/A
4,89,Egypt,"516,023","24,613","442,182","49,228"
5,91,Libya,"507,274","6,437","500,835",2
6,92,Ethiopia,"501,157","7,574","488,171","5,412"
7,93,Réunion,"494,595",921,N/A,N/A
8,100,Zambia,"349,304","4,069","341,316","3,919"
9,101,Kenya,"344,130","5,689","337,309","1,132"
10,104,Botswana,"330,638","2,801","327,049",788
11,106,Algeria,"272,010","6,881","183,061","82,068"
12,107,Nigeria,"267,188","3,155","259,953","4,080"
13,108,Zimbabwe,"266,359","5,740","258,888","1,731"
14,111,Mozambique,"233,731","2,250","228,805","2,676"
15,120,Namibia,"172,389","4,106","167,099","1,184"
16,121,Uganda,"172,149","3,632","100,431","68,086"
17,122,Ghana,"171,889","1,462","170,425",2
18,125,Rwanda,"133,518","1,468","132,039",11
19,126,Cameroon,"125,379","1,974","123,280",125
20,129,Angola,"107,327","1,937","103,419","1,971"
21,131,DRC,"99,338","1,468","84,489","13,381"
22,133,Malawi,"89,535","2,686",N/A,N/A
23,134,Senegal,"89,053","1,971","87,024",58
24,135,Ivory Coast,"88,384",835,"87,497",52
25,139,Eswatini,"75,191","1,427","73,116",648
26,143,Madagascar,"68,486","1,426","66,862",198
27,144,Cabo Verde,"64,477",417,"63,755",305
28,145,Sudan,"63,993","5,046","58,947",0
29,146,Mauritania,"63,848",997,"62,471",380
30,149,Burundi,"54,721",38,"53,569","1,114"
31,150,Seychelles,"51,220",172,"51,048",0
32,151,Gabon,"49,051",307,"48,674",70
33,156,Tanzania,"43,223",846,N/A,N/A
34,157,Mauritius,"43,025","1,051","41,278",696
35,158,Mayotte,"42,027",188,N/A,N/A
36,159,Togo,"39,572",290,"39,281",1
37,160,Guinea,"38,572",468,"37,757",347
38,163,Lesotho,"36,138",723,"25,980","9,435"
39,166,Mali,"33,164",743,"32,332",89
40,169,Benin,"28,036",163,"27,847",26
41,171,Somalia,"27,334","1,361","13,182","12,791"
42,175,Congo,"25,375",386,"24,006",983
43,177,Burkina Faso,"22,114",400,"21,596",118
44,182,South Sudan,"18,819",147,"18,115",557
45,185,Equatorial Guinea,"17,229",183,"16,907",139
46,191,Djibouti,"15,690",189,"15,427",74
47,192,CAR,"15,440",113,"15,200",127
48,193,Gambia,"12,626",372,"12,189",65
49,200,Eritrea,"10,189",103,"10,086",0
50,201,Niger,"9,931",312,"8,890",729
51,203,Guinea-Bissau,"9,614",177,"8,929",508
52,204,Comoros,"9,109",161,"8,939",9
53,206,Liberia,"8,090",295,"7,783",12
54,207,Sierra Leone,"7,779",126,N/A,N/A
55,208,Chad,"7,701",194,"4,874","2,633"
56,211,Sao Tome and Principe,"6,778",80,"6,685",13
57,222,Saint Helena,"2,166",,2,"2,164"
58,229,Western Sahara,10,1,9,0

In [10]:
DFASIA

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nAsia\n,"221,500,265","1,553,662","205,673,091","14,273,512"
1,2,India,"45,035,393","533,570",N/A,N/A
2,6,S. Korea,"34,571,873","35,934","34,535,939",0
3,7,Japan,"33,803,572","74,694",N/A,N/A
4,11,Turkey,"17,232,066","102,174",N/A,N/A
5,14,Vietnam,"11,625,195","43,206","10,640,971","941,018"
6,15,Taiwan,"10,241,523","19,005","10,222,518",0
7,19,Iran,"7,627,186","146,811",N/A,N/A
8,20,Indonesia,"6,829,221","162,063","6,647,104","20,054"
9,28,Malaysia,"5,278,406","37,348","5,233,268","7,790"
10,31,Israel,"4,841,772","12,707","4,798,473","30,592"
11,32,DPRK,"4,772,813",74,"4,772,739",0
12,33,Thailand,"4,770,149","34,586","4,692,636","42,927"
13,37,Philippines,"4,140,383","66,864","4,067,381","6,138"
14,41,Singapore,"3,006,155","2,024","3,004,131",0
15,42,Hong Kong,"2,937,609","14,924","2,916,005","6,680"
16,46,Iraq,"2,465,545","25,375","2,439,497",673
17,48,Bangladesh,"2,049,377","29,493",N/A,N/A
18,50,Georgia,"1,861,665","17,132",N/A,N/A
19,51,Jordan,"1,746,997","14,122","1,731,007","1,868"
20,53,Pakistan,"1,581,936","30,664","1,538,689","12,583"
21,56,Kazakhstan,"1,411,831","13,848","1,383,020","14,963"
22,63,Lebanon,"1,243,838","10,952","1,087,587","145,299"
23,69,UAE,"1,067,030","2,349",N/A,N/A
24,72,Mongolia,"1,011,496","2,284","1,009,212",0
25,73,Nepal,"1,003,450","12,031","991,322",97
26,76,Saudi Arabia,"841,469","9,646",N/A,N/A
27,78,Azerbaijan,"835,234","10,400","824,089",745
28,79,Bahrain,"729,549","1,574","727,915",60
29,80,Cyprus,"681,110","1,365","679,745",0
30,82,Sri Lanka,"672,754","16,897","655,852",5
31,83,Kuwait,"667,158","2,570",N/A,N/A
32,84,Myanmar,"641,873","19,495","620,159","2,219"
33,87,Palestine,"621,008","5,404","615,445",159
34,90,Qatar,"514,524",690,"513,687",147
35,95,Armenia,"451,831","8,777","435,162","7,892"
36,97,Oman,"399,449","4,628",N/A,N/A
37,102,Brunei,"343,719",225,"243,601","99,893"
38,109,Uzbekistan,"253,662","1,637","241,486","10,539"
39,110,Afghanistan,"234,174","7,996","211,080","15,098"
40,113,Laos,"218,970",758,N/A,N/A
41,115,Kyrgyzstan,"206,897","2,991","196,406","7,500"
42,119,Maldives,"186,694",316,"163,687","22,691"
43,124,Cambodia,"139,103","3,056","136,044",3
44,147,Bhutan,"62,697",21,"61,564","1,112"
45,148,Syria,"57,743","3,165","54,578",0
46,170,Macao,"27,673",123,"3,487","24,063"
47,176,Timor-Leste,"23,460",138,"23,102",220
48,184,Tajikistan,"17,786",125,"17,264",397
49,197,Yemen,"11,945","2,159","9,124",662
50,231,China,"503,302","5,272","379,053","118,977"

In [11]:
DFOC

,id,Country,Total Cases,Total Deaths,Total Recovered,Active
0,,\nOceania\n,"14,895,771","33,015","14,752,388","110,368"
1,13,Australia,"11,853,144","24,414","11,820,014","8,716"
2,44,New Zealand,"2,621,111","5,697","2,613,791","1,623"
3,137,New Caledonia,"80,064",314,N/A,N/A
4,138,French Polynesia,"79,254",650,N/A,N/A
5,142,Fiji,"69,117",885,"67,226","1,006"
6,153,Papua New Guinea,"46,864",670,"46,168",26
7,172,Micronesia,"26,547",65,N/A,N/A
8,174,Solomon Islands,"25,954",199,N/A,N/A
9,187,Samoa,"17,006",31,"1,605","15,370"
10,188,Tonga,"16,950",13,"15,638","1,299"
11,189,Marshall Islands,"16,138",17,"16,121",0
12,195,Vanuatu,"12,019",14,"11,976",29
13,210,Cook Islands,"7,203",2,"7,150",51
14,214,Palau,"6,290",10,"6,276",4
15,216,Nauru,"5,393",1,"5,347",45
16,217,Kiribati,"5,085",24,"2,703","2,358"
17,219,Wallis and Futuna,"3,550",8,438,"3,104"
18,221,Tuvalu,"2,943",1,N/A,N/A
19,225,Niue,"1,059",,"1,056",3
20,227,Tokelau,80,,,80

In [13]:
## Crear un archivo Excel con múltiples hojas
with pd.ExcelWriter('covid_data_by_region.xlsx') as writer:
    DFNA.to_excel(writer, sheet_name='North America', index=False)
    DFSA.to_excel(writer, sheet_name='South America', index=False)
    DFEUR.to_excel(writer, sheet_name='Europe', index=False)
    DFASIA.to_excel(writer, sheet_name='Asia', index=False)
    DFAFR.to_excel(writer, sheet_name='Africa', index=False)
    DFOC.to_excel(writer, sheet_name='Oceania', index=False)

# Conclusiones

Los datos globales del COVID19 demuestran el alto impacto que éste obtuvo en el mundo, afectando a millones de personas en cada rincón del planeta. La actividad fue al principio dificil, pues la exploración del sitio fue una de las cosas que  más tiempo tomó. La estructura de la tabla era extraña, ya que no tenían un ID específico, por lo que se tuvo que mer más allá para su correcto filtrado. Una vez comprendiendo su estructura fue fácil la extracción.

Para las funciones se optó por utilizar clases, las cuales facilitaron el proceso de creación de Datagramas, además de mejorar la legibilidad del código. Éste puede ser aún mejor optimziado para mejorar su eficacia.

# Referencias