# Actividad 3.1

De la pagina: https://www.worldometers.info/coronavirus/

Extraer en un archivo Excel que contenga la siguiente info de todo el mundo por continente:

- Country
- Total Cases
- Total Recovered
- Active Cases

In [27]:
import requests as req
from bs4 import BeautifulSoup as soop

url = 'https://www.worldometers.info/coronavirus/'

page = req.get(url)
soup = soop(page.content, 'html.parser')

In [28]:
class Continente:
    def __init__(self, id:[],cntry:[],cases:[],death:[],rcvd:[]):
        self.id = id
        self.country = cntry
        self.cases = cases
        self.dead = death
        self.recovered = rcvd

In [44]:
def huevo(obj,clase):
    #print(obj)
    for fil in obj:
        cells = fil.find_all('td')
        #print(cells)

        clase.id.append(cells[0].get_text())  # id
        clase.country.append(cells[1].get_text())  # Country
        clase.cases.append(cells[2].get_text())  # Total Cases
        clase.dead.append(cells[4].get_text())  # Total Deaths
        clase.recovered.append(cells[6].get_text())  # Total Recovered # Population

countries = soup.find(id="main_table_countries_today")
rows = countries.find('tbody').find_all('tr')

asia_rows = [row for row in rows if row.find('td', {'data-continent': 'Asia'})]
na_rows = [row for row in rows if row.find('td', {'data-continent': 'North America'})]
europe_rows = [row for row in rows if row.find('td', {'data-continent': 'Europe'})]
sa_rows = [row for row in rows if row.find('td', {'data-continent': 'South America'})]
africa_rows = [row for row in rows if row.find('td', {'data-continent': 'Africa'})]
oceania_rows = [row for row in rows if row.find('td', {'data-continent': 'Oceania'})]


# Procesa cada fila
North_America = Continente([],[],[],[],[])
South_America = Continente([],[],[],[],[])
Europe = Continente([],[],[],[],[])
Asia = Continente([],[],[],[],[])
Africa = Continente([],[],[],[],[])
Oceania = Continente([],[],[],[],[])

huevo(na_rows,North_America)
huevo(sa_rows,South_America)
huevo(europe_rows,Europe)
huevo(asia_rows,Asia)
huevo(africa_rows,Africa)
huevo(oceania_rows,Oceania)

In [50]:
import pandas as pd

DFNA = pd.DataFrame(
    {
        "id":North_America.id,
        "Country":North_America.country,
        "Total Cases":North_America.cases,
        "Total Deaths":North_America.dead,
        "Total Recovered":North_America.recovered
    }
)
DFSA = pd.DataFrame(
    {
        "id":South_America.id,
        "Country":South_America.country,
        "Total Cases":South_America.cases,
        "Total Deaths":South_America.dead,
        "Total Recovered":South_America.recovered
    }
)
DFEUR = pd.DataFrame({
    "id":Europe.id,
    "Country":Europe.country,
    "Total Cases":Europe.cases,
    "Total Deaths":Europe.dead,
    "Total Recovered":Europe.recovered
})
DFASIA = pd.DataFrame({
    "id":Asia.id,
    "Country":Asia.country,
    "Total Cases":Asia.cases,
    "Total Deaths":Asia.dead,
    "Total Recovered":Asia.recovered
})
DFAFR = pd.DataFrame({
    "id":Africa.id,
    "Country":Africa.country,
    "Total Cases":Africa.cases,
    "Total Deaths":Africa.dead,
    "Total Recovered":Africa.recovered
})
DFOC = pd.DataFrame({
        "id":Oceania.id,
        "Country":Oceania.country,
        "Total Cases":Oceania.cases,
        "Total Deaths":Oceania.dead,
        "Total Recovered":Oceania.recovered
})
DFAFR
#DF.info()
#weather.to_csv("weather_report.csv")

,id,Country,Total Cases,Total Deaths,Total Recovered
0,,\nAfrica\n,"12,860,924","258,892","12,090,808"
1,38,South Africa,"4,076,463","102,595","3,912,506"
2,62,Morocco,"1,278,992","16,303",N/A
3,66,Tunisia,"1,153,361","29,423",N/A
4,89,Egypt,"516,023","24,613","442,182"
5,91,Libya,"507,274","6,437","500,835"
6,92,Ethiopia,"501,157","7,574","488,171"
7,93,RÃ©union,"494,595",921,N/A
8,100,Zambia,"349,304","4,069","341,316"
9,101,Kenya,"344,130","5,689","337,309"
10,104,Botswana,"330,638","2,801","327,049"
11,106,Algeria,"272,010","6,881","183,061"
12,107,Nigeria,"267,188","3,155","259,953"
13,108,Zimbabwe,"266,359","5,740","258,888"
14,111,Mozambique,"233,731","2,250","228,805"
15,120,Namibia,"172,389","4,106","167,099"
16,121,Uganda,"172,149","3,632","100,431"
17,122,Ghana,"171,889","1,462","170,425"
18,125,Rwanda,"133,518","1,468","132,039"
19,126,Cameroon,"125,379","1,974","123,280"
20,129,Angola,"107,327","1,937","103,419"
21,131,DRC,"99,338","1,468","84,489"
22,133,Malawi,"89,535","2,686",N/A
23,134,Senegal,"89,053","1,971","87,024"
24,135,Ivory Coast,"88,384",835,"87,497"
25,139,Eswatini,"75,191","1,427","73,116"
26,143,Madagascar,"68,486","1,426","66,862"
27,144,Cabo Verde,"64,477",417,"63,755"
28,145,Sudan,"63,993","5,046","58,947"
29,146,Mauritania,"63,848",997,"62,471"
30,149,Burundi,"54,721",38,"53,569"
31,150,Seychelles,"51,220",172,"51,048"
32,151,Gabon,"49,051",307,"48,674"
33,156,Tanzania,"43,223",846,N/A
34,157,Mauritius,"43,025","1,051","41,278"
35,158,Mayotte,"42,027",188,N/A
36,159,Togo,"39,572",290,"39,281"
37,160,Guinea,"38,572",468,"37,757"
38,163,Lesotho,"36,138",723,"25,980"
39,166,Mali,"33,164",743,"32,332"
40,169,Benin,"28,036",163,"27,847"
41,171,Somalia,"27,334","1,361","13,182"
42,175,Congo,"25,375",386,"24,006"
43,177,Burkina Faso,"22,114",400,"21,596"
44,182,South Sudan,"18,819",147,"18,115"
45,185,Equatorial Guinea,"17,229",183,"16,907"
46,191,Djibouti,"15,690",189,"15,427"
47,192,CAR,"15,440",113,"15,200"
48,193,Gambia,"12,626",372,"12,189"
49,200,Eritrea,"10,189",103,"10,086"
50,201,Niger,"9,931",312,"8,890"
51,203,Guinea-Bissau,"9,614",177,"8,929"
52,204,Comoros,"9,109",161,"8,939"
53,206,Liberia,"8,090",295,"7,783"
54,207,Sierra Leone,"7,779",126,N/A
55,208,Chad,"7,701",194,"4,874"
56,211,Sao Tome and Principe,"6,778",80,"6,685"
57,222,Saint Helena,"2,166",,2
58,229,Western Sahara,10,1,9