# A 4.1 Integración de datos

In [67]:
import pandas as pd
import re

In [68]:
t01 = pd.read_excel("table01.xlsx")
t01.info()
t02 = pd.read_csv("table02.csv")
t02.info()
t03 = pd.read_csv("table03.csv")
t03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   50 non-null     int64
 1   Email        50 non-null     object
 2   OrderDate    50 non-null     datetime64[ns]
 3   OrderAmount  50 non-null     float64
 4   ShipAddress  50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustID         34 non-null     int64
 1   Customer_Name  34 non-null     object
 2   Purchase_Date  34 non-null     object
 3   Total_Spent    34 non-null     float64
 4   Location       33 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MemberID      41 non-null     int64
 1   Member_Email  40 non-null     object
 2   JoinDate      40 non-null     object
 3   Points        40 non-null     float64
 4   Address       40 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ KB

### Estandarizar nombres de columnas: elegir una convención de nomenclatura coherente. (2 pts)

In [69]:
# Se cambiaron los nombres de las columnas para tener un nombre unico en las tres, para hacer las siguientes operaciones mas facil
t01 = t01.rename(columns={'CustomerID':'cID'})
t02 = t02.rename(columns={'CustID':'cID'})
t03 = t03.rename(columns={'MemberID':'cID'})

In [70]:
t01 = t01.rename(columns={'Email':'cEmail'})
t03 = t03.rename(columns={'Member_Email':'cEmail'})

In [71]:
t01 = t01.rename(columns={'ShipAddress':'cAddress'})
t03 = t03.rename(columns={'Address':'cAddress'})

In [72]:
t01.info()
t02.info()
t03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cID          50 non-null     int64
 1   cEmail       50 non-null     object
 2   OrderDate    50 non-null     datetime64[ns]
 3   OrderAmount  50 non-null     float64
 4   cAddress     50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cID            34 non-null     int64
 1   Customer_Name  34 non-null     object
 2   Purchase_Date  34 non-null     object
 3   Total_Spent    34 non-null     float64
 4   Location       33 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cID       41 non-null     int64
 1   cEmail    40 non-null     object
 2   JoinDate  40 non-null     object
 3   Points    40 non-null     float64
 4   cAddress  40 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.7+ KB

### Estandarizar formatos de datos: convertir todas las fechas a un formato uniforme.

In [73]:
t01['OrderDate'] = pd.to_datetime(t01['OrderDate'])
t02['Purchase_Date'] = pd.to_datetime(t02['Purchase_Date'])
t03['JoinDate'] = pd.to_datetime(t03['JoinDate'])

In [74]:
t01

,cID,cEmail,OrderDate,OrderAmount,cAddress
0,1001,john.doe@email.com,2024-10-26,125.50,123 Main St
1,1002,jane.smith@email.com,2024-10-27,50.00,456 Oak Ave
2,1003,peter.jones@email.com,2024-10-28,200.75,789 Pine Ln
3,1004,mary.brown@email.com,2024-10-28,75.25,321 Elm Rd
4,1005,david.lee@email.com,2024-10-29,90.00,654 Pinecrest Dr
5,1006,sarah.white@email.com,2024-10-30,150.00,999 Willow Dr
6,1007,robert.green@email.com,2024-10-31,60.50,246 Maple Ave
7,1008,linda.black@email.com,2024-11-01,110.25,135 Cedar Ln
8,1009,michael.blue@email.com,2024-11-02,85.00,864 Birch Rd
9,1010,jennifer.gray@email.com,2024-11-03,175.75,579 Spruce St
10,1011,christopher.red@email.com,2024-11-04,95.00,258 Walnut Ave
11,1012,amanda.yellow@email.com,2024-11-05,135.25,159 Cherry Ln
12,1013,daniel.orange@email.com,2024-11-06,70.00,876 Hickory Rd
13,1014,melissa.purple@email.com,2024-11-07,120.50,581 Sycamore St
14,1015,kevin.pink@email.com,2024-11-08,100.00,263 Redwood Ave
15,1016,ashley.brown@email.com,2024-11-09,160.75,168 Oakwood Ln
16,1017,ryan.white@email.com,2024-11-10,80.00,794 Pinehurst Dr
17,1018,nicole.green@email.com,2024-11-11,140.25,279 Maplewood Ave
18,1019,jason.black@email.com,2024-11-12,115.00,148 Cedarcrest Ln
19,1020,stephanie.blue@email.com,2024-11-13,90.00,873 Birchwood Rd
20,1021,eric.gray@email.com,2024-11-14,180.75,584 Sprucelawn St
21,1022,michelle.red@email.com,2024-11-15,100.00,267 Walnutcrest Ave
22,1023,justin.yellow@email.com,2024-11-16,145.25,164 Cherrywood Ln
23,1024,amanda.orange@email.com,2024-11-17,75.00,881 Hickorycrest Rd
24,1025,brian.purple@email.com,2024-11-18,125.50,586 Sycamorelawn St
25,1026,lauren.pink@email.com,2024-11-19,105.00,268 Redwoodcrest Ave
26,1027,adam.brown@email.com,2024-11-20,165.75,173 Oakwoodcrest Ln
27,1028,catherine.white@email.com,2024-11-21,85.00,799 Pinehurstcrest Dr
28,1029,matthew.green@email.com,2024-11-22,145.25,284 Maplewoodcrest Ave
29,1030,rachel.black@email.com,2024-11-23,120.00,153 Cedarcrestcrest Ln
30,1031,nathan.blue@email.com,2024-11-24,95.00,878 Birchwoodcrest Rd
31,1032,olivia.gray@email.com,2024-11-25,185.75,589 Sprucelawncrest St
32,1033,samuel.red@email.com,2024-11-26,105.00,272 Walnutcrestcrest Ave
33,1034,paige.yellow@email.com,2024-11-27,150.25,169 Cherrywoodcrest Ln
34,1035,andrew.orange@email.com,2024-11-28,80.00,886 Hickorycrestcrest Rd
35,1036,victoria.purple@email.com,2024-11-29,130.50,591 Sycamorelawncrest St
36,1037,patrick.pink@email.com,2024-11-30,110.00,274 Redwoodcrestcrest Ave
37,1038,jessica.brown@email.com,2024-12-01,170.75,179 Oakwoodcrestcrest Ln
38,1039,matthew.white@email.com,2024-12-02,90.00,804 Pinehurstcrestcrest Dr
39,1040,brandon.green@email.com,2024-12-03,150.25,289 Maplewoodcrestcrest Ave
40,1041,samantha.black@email.com,2024-12-04,125.00,158 Cedarcrestcrestcrest Ln
41,1042,cody.blue@email.com,2024-12-05,100.00,883 Birchwoodcrestcrest Rd
42,1043,emily.gray@email.com,2024-12-06,190.75,594 Sprucelawncrestcrest St
43,1044,zachary.red@email.com,2024-12-07,110.00,277 Walnutcrestcrestcrest Ave
44,1045,hannah.yellow@email.com,2024-12-08,155.25,174 Cherrywoodcrestcrest Ln
45,1046,jacob.orange@email.com,2024-12-09,85.00,891 Hickorycrestcrestcrest Rd
46,1047,kaylee.purple@email.com,2024-12-10,135.50,596 Sycamorelawncrestcrest St
47,1048,austin.pink@email.com,2024-12-11,115.00,279 Redwoodcrestcrestcrest Ave
48,1049,natalie.brown@email.com,2024-12-12,175.75,184 Oakwoodcrestcrestcrest Ln
49,1050,ethan.white@email.com,2024-12-13,95.00,809 Pinehurstcrestcrestcrest Dr

In [75]:
t02 = t02.sort_values(by="cID", ascending=True)
t02

     cID    Customer_Name Purchase_Date  Total_Spent Location
0   1001         John Doe    2024-10-26       130.00  Store A
3   1002       Jane Smith    2024-10-27        49.99  Store C
1   1003      Peter Jones    2024-10-28       195.50  Store B
2   1005        David Lee    2024-10-29        90.00  Store A
4   1006      Sarah White    2024-10-30       155.00  Store D
5   1007     Robert Green    2024-10-31        62.00  Store B
6   1008      Linda Black    2024-11-01       112.50  Store A
7   1009     Michael Blue    2024-11-02        87.00  Store C
8   1010    Jennifer Gray    2024-11-03       178.00  Store D
9   1011  Christopher Red    2024-11-04        97.00  Store B
10  1012    Amanda Yellow    2024-11-05       137.50  Store A
11  1013    Daniel Orange    2024-11-06        72.00  Store C
12  1014   Melissa Purple    2024-11-07       122.50  Store D
13  1015       Kevin Pink    2024-11-08       102.00  Store B
14  1016     Ashley Brown    2024-11-09       163.00  Store A
15  1017       Ryan White    2024-11-10        82.00  Store C
16  1018     Nicole Green    2024-11-11       142.50  Store D
17  1019      Jason Black    2024-11-12       117.00  Store B
18  1020   Stephanie Blue    2024-11-13        92.00  Store A
19  1021        Eric Gray    2024-11-14       183.00  Store C
20  1022     Michelle Red    2024-11-15       102.00  Store D
21  1023    Justin Yellow    2024-11-16       147.50  Store B
22  1024    Amanda Orange    2024-11-17        77.00  Store A
23  1025     Brian Purple    2024-11-18       127.50  Store C
24  1026      Lauren Pink    2024-11-19       107.00  Store D
25  1027       Adam Brown    2024-11-20       168.00  Store B
26  1028  Catherine White    2024-11-21        87.00  Store A
27  1029    Matthew Green    2024-11-22       147.50  Store C
28  1030     Rachel Black    2024-11-23       122.00  Store D
29  1031      Nathan Blue    2024-11-24        97.00  Store B
30  1032      Olivia Gray    2024-11-25       188.00  Store A
31  1033       Samuel Red    2024-11-26       107.00  Store C
32  1034     Paige Yellow    2024-11-27       152.50  Store D
33  1035    Andrew Orange    2024-11-28        82.00      NaN

In [76]:
t03

,cID,cEmail,JoinDate,Points,cAddress
0,1001,john.doe@email.com,2023-05-15,1500.0,123 Main Street
1,1002,jane.smith@email.com,2023-08-01,800.0,456 Oak Avenue
2,1003,peter.jones@email.com,2023-11-20,2200.0,789 Pine Lane
3,1006,sarah.white@email.com,2024-01-10,300.0,999 Willow Drive
4,1007,robert.green@email.com,2024-02-15,450.0,246 Maple Avenue
5,1008,linda.black@email.com,2024-03-20,600.0,135 Cedar Lane
6,1009,michael.blue@email.com,2024-04-25,750.0,864 Birch Road
7,1010,jennifer.gray@email.com,2024-05-30,900.0,579 Spruce Street
8,1011,christopher.red@email.com,2024-06-04,1050.0,258 Walnut Avenue
9,1012,amanda.yellow@email.com,2024-07-09,1200.0,159 Cherry Lane
10,1013,daniel.orange@email.com,2024-08-14,1350.0,876 Hickory Road
11,1014,melissa.purple@email.com,2024-09-19,1500.0,581 Sycamore Street
12,1015,kevin.pink@email.com,2024-10-24,1650.0,263 Redwood Avenue
13,1016,ashley.brown@email.com,2024-10-28,1800.0,168 Oakwood Lane
14,1017,ryan.white@email.com,2024-11-02,1950.0,794 Pinehurst Drive
15,1018,nicole.green@email.com,2024-11-07,2100.0,279 Maplewood Avenue
16,1019,jason.black@email.com,2024-11-12,2250.0,148 Cedarcrest Lane
17,1020,stephanie.blue@email.com,2024-11-17,2400.0,873 Birchwood Road
18,1021,eric.gray@email.com,2024-11-22,2550.0,584 Sprucelawn Street
19,1022,michelle.red@email.com,2024-11-27,2700.0,267 Walnutcrest Avenue
20,1023,justin.yellow@email.com,2024-12-02,2850.0,164 Cherrywood Lane
21,1024,amanda.orange@email.com,2024-12-07,3000.0,881 Hickorycrest Road
22,1025,brian.purple@email.com,2024-12-12,3150.0,586 Sycamorelawn Street
23,1026,lauren.pink@email.com,2024-12-17,3300.0,268 Redwoodcrest Avenue
24,1027,adam.brown@email.com,2024-12-22,3450.0,173 Oakwoodcrest Lane
25,1028,catherine.white@email.com,2024-12-27,3600.0,799 Pinehurstcrest Drive
26,1029,matthew.green@email.com,2025-01-01,3750.0,284 Maplewoodcrest Avenue
27,1030,rachel.black@email.com,2025-01-06,3900.0,153 Cedarcrestcrest Lane
28,1031,nathan.blue@email.com,2025-01-11,4050.0,878 Birchwoodcrest Road
29,1032,olivia.gray@email.com,2025-01-16,4200.0,589 Sprucelawncrest Street
30,1033,samuel.red@email.com,2025-01-21,4350.0,272 Walnutcrestcrest Avenue
31,1034,paige.yellow@email.com,2025-01-26,4500.0,169 Cherrywoodcrest Lane
32,1035,andrew.orange@email.com,2025-01-31,4650.0,886 Hickorycrestcrest Road
33,1036,victoria.purple@email.com,2025-02-05,4800.0,591 Sycamorelawncrest Street
34,1037,patrick.pink@email.com,2025-02-10,4950.0,274 Redwoodcrestcrest Avenue
35,1038,jessica.brown@email.com,2025-02-15,5100.0,179 Oakwoodcrestcrest Lane
36,1039,matthew.white@email.com,2025-02-20,5250.0,804 Pinehurstcrestcrest Drive
37,1040,brandon.green@email.com,2025-02-25,5400.0,289 Maplewoodcrestcrest Avenue
38,1041,samantha.black@email.com,2025-03-02,5550.0,158 Cedarcrestcrestcrest Lane
39,1042,cody.blue@email.com,2025-03-07,5700.0,883 Birchwoodcrestcrest Road
40,1043,NaN,NaT,NaN,NaN

### Gestionar valores faltantes: determinar cómo dirigirse a los clientes presentes en algunas tablas, pero no en otras. (2 pts)

Tras analizar los datos, se puede determinar en la primera tabla, que pidieron una orden en internet por cierta cantidad, y ya se fue a recoger en físico a la tienda real, donde se terminó pagando *[Ejemplo, se ordena y paga en tienda]*. Ahora bien, algunos clientes no fueron a recoger su pedido, por lo cual no se completaría y, por lo tanto, aparecería en la segunda tabla. En cuanto a la tercera, existe la posibilidad donde el cliente no tiene una cuenta en el programa de fidelización.

Se pueden crear tres columnas extras al hacer merge:
1. Comision *[Resta entre lo pagado y el total de internet]*
2. Orden completada *[True, False]* *[Se encuentra, o no, en la segunda tabla]*
3. Miembro_VIP *[True, False]* *[Se encuentra, o no, en el programa de fidelización]*

### Resolver discrepancias de direcciones: limpiar y estandarizar los datos de direcciones

In [77]:
abbr = {
    "Street": "St", "Avenue": "Ave", "Lane": "Ln", "Road": "Rd", "Drive": "Dr"
}

def limpio(addr):
    for long, short in abbr.items():
        addr = re.sub(rf'\b{long}\b', short, addr) # Reorganiza el string ya con las abreviaturas hechas
    return addr.strip()  # Elimina espacios innecesarios


t01["cAddress"] = t01["cAddress"].astype(str).apply(limpio)
t03["cAddress"] = t03["cAddress"].astype(str).apply(limpio)

### Resolver discrepancias de importe: determinar si las diferencias se deben a impuestos u otros factores.

Las discrepancias en el importe se puede tomar como una cortesía, en caso de que sea negativo, y una pequeña comisión, pues las diferencias rondan entre 2 y 2.25, con algunos datos que se salen de esto, siendo de $5, un centavo, y ninguna diferencia.

# Merge

In [85]:
# Renombramiento de columnas para facilitar el merge
t01.rename(columns={"OrderDate": "Order_Date", "OrderAmount": "Order_Amount"})
t02.rename(columns={"Customer_Name": "cName"})
t03.rename(columns={"JoinDate": "Join_Date"})

# Merge de t01 y t03, utiliza el ID, Email y Address
merged = pd.merge(t01, t03, on=["cID", "cEmail", "cAddress"], how="outer", suffixes=("_t01", "_t03"))

# Se establece si son clientes del programa de fidelidad al comparar si se encuentran tanto en la primera, como en la tercera tabla
merged["Joined_VIP"] = merged["Join_Date"].notna()

merged = pd.merge(merged, t02, on="cID", how="outer") # Merge con t02 utilizando el ID

# Se crea la columnda de orden completada (True si existen datos tanto Order_Date como Purchase_Date)
merged["Order_Completed"] = merged["Order_Date"].notna() & merged["Purchase_Date"].notna()

# convierte los valores NaN en puntos, order y total con 0
merged["Points"] = merged["Points"].fillna(0)
merged["Order_Amount"] = merged["Order_Amount"].fillna(0)
merged["Total_Spent"] = merged["Total_Spent"].fillna(0)

# Calcula la comisión como Total_Spent - Order_Amount, si son menores a 0, se mantiene el 0 de comisión.
merged["Commision"] = (merged["Total_Spent"] - merged["Order_Amount"]).round(2).clip(lower=0)


MergedData = merged[["cID", "cName", "cEmail", "cAddress", "Joined_VIP", "Points", "Order_Date", "Purchase_Date", "Order_Completed", "Order_Amount", "Total_Spent", "Commision", "Location"]]

MergedData.to_csv("MergedData.csv")