# 03 Exploración de datos (estadística básica)

En esta actividad nuestro objetivo realizar un analizar exploratorio básico y manipulación de los datos que tenemos respecto a salarios (datos utilizados en la actividad previa) para responder a las siguientes preguntas:

1. ¿Cuál es el salario promedio en USD?
2. ¿Cuál es el salario máximo y mínimo en dolares?
3 ¿Cuantos pagos de salario se realizaron por divisa (modena)?
4. ¿Cual es el salario promedio por divisa convertido a dolares?

Para comenzar con la actividad, carguemos los datos que se encuentran almacenados en el archivo `ds_salaries` para posteriormente iniciar con el análisis exploratorio y manipulación de los datos.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data\\ds_salaries.csv')
#Verifiquemos el contenido del archivo
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

### Preguntas de investigación

1. ¿Cuál es el salario promedio en USD?

In [5]:
print(df['salary_in_usd'].mean())

112297.86985172982

2. ¿?Cuál es el salario máximo y mínimo en dolares?

In [6]:
print("Salario máximo: ", df['salary_in_usd'].max())
print("Salario mínimo: ", df['salary_in_usd'].min())

Salario máximo:  600000
Salario mínimo:  2859

3 ¿Cuantos pagos de salario se realizaron por divisa (modena)?

In [7]:
df.groupby(['salary_currency']).size()

salary_currency
AUD      2
BRL      2
CAD     18
CHF      1
CLP      1
CNY      2
DKK      2
EUR     95
GBP     44
HUF      2
INR     27
JPY      3
MXN      2
PLN      3
SGD      2
TRY      3
USD    398
dtype: int64

4. ¿Cual es el salario promedio por divisa convertido a dolares?

In [8]:
df02 = df.groupby(['salary_currency'])['salary_in_usd'].mean()

In [9]:
df02.head(3)

salary_currency
AUD    87064.000000
BRL    15904.000000
CAD    97222.888889
Name: salary_in_usd, dtype: float64