In [ ]:
# Conexion

In [ ]:
import sqlite3

# Creaci칩n de la conexi칩n
connection = sqlite3.connect('chinook.db')

# Creaci칩n del cursor que nos permitir치 ejecutar consultar y obtener los resultados
cursor = connection.cursor()

# Creamos una consulta
# En este caso consultamos el nombre de las tablas que existen en la base de datos 'chinook.db'
query = '''
PRAGMA table_info(invoices);
'''
q = '''
SELECT name
FROM sqlite_master
WHERE type = 'table';
'''
# ejecutamos la consulta
cursor.execute(q)
# Obtenemos el resultado de la consulta
results = cursor.fetchall()
# Visualicemos el resultado de nuestra consulta
results

## Grafico de Lineas

In [ ]:
q = '''
SELECT strftime('%Y', InvoiceDate) as invyear, ROUND(SUM(Total), 2)
FROM invoices
GROUP BY invyear
;
'''

# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

In [ ]:
import pandas as pd
df = pd.DataFrame(results)
# Agregar los nombres de columnas
col_titles = ['year','total']
df.columns = col_titles
df.info()
df

In [ ]:
import matplotlib.pyplot as plt

# Plotting the data as a line chart
plt.figure(figsize=(10, 6))

plt.plot(df['year'], df['total'], marker='o', linestyle='-', color='b', label='Total!')

# Adding labels and title
plt.title('Total Sales Per Year')
plt.xlabel('Year')
plt.ylabel('Total Sales')
plt.legend(title='Total Worldwide', bbox_to_anchor=(1.05, 1), loc='upper left')

# Setting the y-axis to start at 0
plt.ylim(0,500)  # 1.1 to give some spacing at the top

# Adding values on each point
for x, y in zip(df['year'], df['total']):
    plt.text(x, y, round(y, 2), ha='center', va='bottom')

# Show the plot
plt.tight_layout()
plt.show()

## Grafico de Barras

In [ ]:
## Grafico de Barras

q= '''
SELECT genres.Name, CAST(SUM(invoice_items.UnitPrice * invoice_items.Quantity) AS INTEGER) AS TotalPrice
FROM genres
JOIN tracks ON genres.GenreId = tracks.GenreId
JOIN invoice_items ON tracks.TrackId = invoice_items.TrackId
GROUP BY genres.Name
;
'''
qa = '''
PRAGMA table_info(invoice_items);
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

In [ ]:
import pandas as pd
df = pd.DataFrame(results)
# Agregar los nombres de columnas
col_titles = ['Genre','Total']
df.columns = col_titles
df.info()
df

In [ ]:
import matplotlib.pyplot as plt

# Plotting the data as a bar chart
plt.figure(figsize=(10, 6))

bars = plt.bar(df['Genre'], df['Total'], label='Total!')

# Adding labels and title
plt.title('Absolute Sales per Genre')
plt.xlabel('Genre')
plt.ylabel('Total Sales ')

# Rotate x labels to avoid overlapping
plt.xticks(rotation=90)

# Adding the values on top of each bar
for bar in bars:
    yval = bar.get_height()
    plt.text(bar.get_x() + bar.get_width()/2, yval, round(yval, 2), ha='center', va='bottom')

# Show the plot
plt.tight_layout()
plt.show()