# Recopilacion de Datos Almacenados en Bases de Datos SQL

## Para SQLite

In [7]:
# 1. Se crea la conexión a la base de datos
import sqlite3 as sql
connection = sql.connect('ds_salaries.sqlite')

# 2. Creación de un objeto cursor
cursor = connection.cursor()

# 3. Se crea una consulta de prueba
q = '''
SELECT sql
FROM sqlite_master
WHERE name='ds_salaries';
'''

# 4. Se ejecuta el query
cursor.execute(q)

# 5. Se obtienen los resultados de la consulta
results = cursor.fetchall()

In [8]:
results

[("CREATE TABLE 'ds_salaries' ('c1' INTEGER,'c2' TEXT,'c3' TEXT,'c4' TEXT,'c5' TEXT,'c6' TEXT,'c7' TEXT,'c8' TEXT,'c9' TEXT,'c10' TEXT,'c11' TEXT,'c12' TEXT)",)]

## ¿Cual es el puesto que gana más salarios?

In [12]:
# Crea la consulta
q = '''
SELECT c5, MAX(CAST(c8 AS FLOAT))
FROM ds_salaries;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

('Principal Data Engineer', 600000.0)

#### Res: Principal Data Engineer con 600 k

In [15]:
# Si queremos el mejor pagado por país:
# Crea la consulta
q = '''
SELECT c9, c5, MAX(CAST(c8 AS FLOAT))
FROM ds_salaries
GROUP BY c9
ORDER BY c9;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

('AE', 'Machine Learning Engineer', 120000.0)
('AR', 'Data Science Engineer', 60000.0)
('AT', 'Data Scientist', 91237.0)
('AU', 'Computer Vision Software Engineer', 150000.0)
('BE', 'Machine Learning Engineer', 88654.0)
('BG', 'Data Analyst', 80000.0)
('BO', 'Applied Machine Learning Scientist', 75000.0)
('BR', 'Cloud Data Engineer', 160000.0)
('CA', 'Director of Data Science', 196979.0)
('CH', 'Data Scientist', 122346.0)
('CL', 'Data Scientist', 40038.0)
('CN', 'Machine Learning Engineer', 43331.0)
('CO', 'Machine Learning Engineer', 21844.0)
('CZ', 'Research Scientist', 69999.0)
('DE', 'Principal Data Scientist', 173762.0)
('DK', 'AI Scientist', 45896.0)
('DZ', 'Data Scientist', 100000.0)
('EE', 'Head of Data', 32974.0)
('ES', 'Data Engineer', 130800.0)
('FR', 'Research Scientist', 93427.0)
('GB', 'Data Scientist', 183228.0)
('GR', 'Marketing Data Analyst', 88654.0)
('HK', 'Data Engineer', 66022.0)
('HN', 'Product Data Analyst', 20000.0)
('HR', 'Machine Learning Engineer', 45618.0)
('HU', 'BI Data Analyst', 36259.0)
('IE', 'Machine Learning Engineer', 71444.0)
('IN', 'AI Scientist', 200000.0)
('IQ', 'Machine Learning Developer', 100000.0)
('IR', 'Data Engineer', 4000.0)
('IT', 'Director of Data Science', 153667.0)
('JE', 'Research Scientist', 100000.0)
('JP', 'Machine Learning Scientist', 260000.0)
('KE', 'BI Data Analyst', 9272.0)
('LU', 'Business Data Analyst', 59102.0)
('MD', 'Big Data Engineer', 18000.0)
('MT', 'Data Engineer', 28369.0)
('MX', 'Data Engineer', 33511.0)
('MY', 'Head of Data', 200000.0)
('NG', 'Data Scientist', 50000.0)
('NL', 'Machine Learning Engineer', 85000.0)
('NZ', 'Lead Data Engineer', 125000.0)
('PH', 'Data Scientist', 45760.0)
('PK', 'Data Engineer', 58035.0)
('PL', 'Big Data Engineer', 114047.0)
('PR', 'Lead Data Engineer', 160000.0)
('PT', 'Research Scientist', 60757.0)
('RO', 'Data Engineer', 76833.0)
('RS', 'Data Scientist', 25532.0)
('RU', 'Head of Data', 230000.0)
('SG', 'Data Scientist', 119059.0)
('SI', 'Head of Data', 102839.0)
('TN', 'Applied Machine Learning Scientist', 31875.0)
('TR', 'Data Engineer', 28016.0)
('UA', 'Data Scientist', 13400.0)
('US', 'Principal Data Engineer', 600000.0)
('VN', 'Data Analytics Engineer', 50000.0)
('employee_residence', 'job_title', 0.0)

## Puesto con el menor salario?

In [20]:
# Crea la consulta
q = '''
SELECT c5, MIN(CAST(c8 AS FLOAT))
FROM ds_salaries;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
results

[('job_title', 0.0)]

## Top 5 mejores puestos

In [19]:
# Crea la consulta
q = '''
SELECT c9, c5, CAST(c8 AS FLOAT) as salary
FROM ds_salaries
ORDER BY salary DESC
LIMIT 5;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

('US', 'Principal Data Engineer', 600000.0)
('US', 'Research Scientist', 450000.0)
('US', 'Financial Data Analyst', 450000.0)
('US', 'Applied Machine Learning Scientist', 423000.0)
('US', 'Principal Data Scientist', 416000.0)

## En que pais esta la mayor cantidad de empleados pagados?

In [23]:
# Crea la consulta
q = '''
SELECT c9, count(c5) as jobs
FROM ds_salaries
GROUP BY c9
ORDER BY jobs DESC
LIMIT 1;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

('US', 332)

## Enlista los puestos de trabajo que se tienen por locación

In [24]:
q = '''
SELECT c9, c5
FROM ds_salaries
GROUP BY c9, c5
ORDER BY c9;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

('AE', 'Lead Data Scientist')
('AE', 'Machine Learning Engineer')
('AR', 'Data Science Engineer')
('AT', 'Data Engineer')
('AT', 'Data Scientist')
('AT', 'Research Scientist')
('AU', 'Computer Vision Software Engineer')
('AU', 'Data Scientist')
('AU', 'Machine Learning Engineer')
('BE', 'Machine Learning Engineer')
('BG', 'Data Analyst')
('BO', 'Applied Machine Learning Scientist')
('BR', 'AI Scientist')
('BR', 'Cloud Data Engineer')
('BR', 'Computer Vision Engineer')
('BR', 'Data Scientist')
('CA', 'Big Data Architect')
('CA', 'Business Data Analyst')
('CA', 'Data Analyst')
('CA', 'Data Architect')
('CA', 'Data Science Engineer')
('CA', 'Data Scientist')
('CA', 'Director of Data Science')
('CA', 'Lead Data Engineer')
('CA', 'Machine Learning Developer')
('CA', 'Machine Learning Manager')
('CA', 'Principal Data Analyst')
('CA', 'Research Scientist')
('CH', 'Data Scientist')
('CL', 'Data Scientist')
('CN', 'Machine Learning Engineer')
('CO', 'Machine Learning Engineer')
('CZ', 'Research Scientist')
('DE', 'Computer Vision Software Engineer')
('DE', 'Data Analyst')
('DE', 'Data Analytics Engineer')
('DE', 'Data Engineer')
('DE', 'Data Engineering Manager')
('DE', 'Data Science Consultant')
('DE', 'Data Scientist')
('DE', 'Director of Data Science')
('DE', 'Lead Machine Learning Engineer')
('DE', 'ML Engineer')
('DE', 'Machine Learning Engineer')
('DE', 'Principal Data Scientist')
('DK', 'AI Scientist')
('DK', 'Computer Vision Engineer')
('DZ', 'Data Scientist')
('EE', 'Head of Data')
('ES', 'AI Scientist')
('ES', 'Big Data Engineer')
('ES', 'Data Analyst')
('ES', 'Data Engineer')
('ES', 'Data Engineering Manager')
('ES', 'Data Scientist')
('ES', 'Machine Learning Engineer')
('FR', 'Data Analyst')
('FR', 'Data Engineer')
('FR', 'Data Science Consultant')
('FR', 'Data Scientist')
('FR', 'Machine Learning Engineer')
('FR', 'Research Scientist')
('GB', 'Applied Data Scientist')
('GB', 'Big Data Engineer')
('GB', 'Data Analyst')
('GB', 'Data Engineer')
('GB', 'Data Scientist')
('GB', 'Director of Data Engineering')
('GB', 'Finance Data Analyst')
('GB', 'Lead Data Engineer')
('GB', 'Machine Learning Engineer')
('GB', 'Research Scientist')
('GR', 'Data Analyst')
('GR', 'Data Engineer')
('GR', 'Data Science Engineer')
('GR', 'Data Scientist')
('GR', 'ETL Developer')
('GR', 'Marketing Data Analyst')
('HK', 'Data Engineer')
('HN', 'Product Data Analyst')
('HR', 'Machine Learning Engineer')
('HU', 'BI Data Analyst')
('HU', 'Data Scientist')
('IE', 'Machine Learning Engineer')
('IN', '3D Computer Vision Researcher')
('IN', 'AI Scientist')
('IN', 'BI Data Analyst')
('IN', 'Big Data Engineer')
('IN', 'Business Data Analyst')
('IN', 'Data Analyst')
('IN', 'Data Engineer')
('IN', 'Data Science Consultant')
('IN', 'Data Science Manager')
('IN', 'Data Scientist')
('IN', 'Head of Machine Learning')
('IN', 'Lead Data Analyst')
('IN', 'Lead Data Scientist')
('IN', 'Machine Learning Engineer')
('IN', 'Product Data Analyst')
('IQ', 'Machine Learning Developer')
('IR', 'Data Engineer')
('IT', 'Data Engineer')
('IT', 'Data Scientist')
('IT', 'Director of Data Science')
('IT', 'Machine Learning Engineer')
('JE', 'Research Scientist')
('JP', 'Data Engineer')
('JP', 'Data Scientist')
('JP', 'Director of Data Science')
('JP', 'ML Engineer')
('JP', 'Machine Learning Engineer')
('JP', 'Machine Learning Scientist')
('KE', 'BI Data Analyst')
('LU', 'Business Data Analyst')
('MD', 'Big Data Engineer')
('MT', 'Data Engineer')
('MX', 'Data Engineer')
('MX', 'Data Scientist')
('MY', 'Head of Data')
('NG', 'Data Analyst')
('NG', 'Data Scientist')
('NL', 'Data Engineer')
('NL', 'Machine Learning Engineer')
('NL', 'Research Scientist')
('NZ', 'Lead Data Engineer')
('PH', 'Data Scientist')
('PK', 'AI Scientist')
('PK', 'Data Analyst')
('PK', 'Data Analytics Engineer')
('PK', 'Data Engineer')
('PK', 'Machine Learning Scientist')
('PL', 'Big Data Engineer')
('PL', 'Data Engineer')
('PL', 'Data Scientist')
('PL', 'Machine Learning Engineer')
('PR', 'Lead Data Engineer')
('PT', 'Computer Vision Engineer')
('PT', 'Lead Data Engineer')
('PT', 'ML Engineer')
('PT', 'Machine Learning Infrastructure Engineer')
('PT', 'Research Scientist')
('RO', 'Data Engineer')
('RS', 'Data Scientist')
('RU', 'Computer Vision Engineer')
('RU', 'Data Scientist')
('RU', 'Head of Data')
('RU', 'Head of Data Science')
('SG', 'Cloud Data Engineer')
('SG', 'Data Scientist')
('SI', 'Head of Data')
('SI', 'Machine Learning Engineer')
('TN', 'Applied Machine Learning Scientist')
('TR', 'Data Engineer')
('TR', 'Data Scientist')
('UA', 'Data Scientist')
('US', 'AI Scientist')
('US', 'Analytics Engineer')
('US', 'Applied Data Scientist')
('US', 'Applied Machine Learning Scientist')
('US', 'BI Data Analyst')
('US', 'Big Data Engineer')
('US', 'Business Data Analyst')
('US', 'Computer Vision Engineer')
('US', 'Computer Vision Software Engineer')
('US', 'Data Analyst')
('US', 'Data Analytics Engineer')
('US', 'Data Analytics Lead')
('US', 'Data Analytics Manager')
('US', 'Data Architect')
('US', 'Data Engineer')
('US', 'Data Engineering Manager')
('US', 'Data Science Consultant')
('US', 'Data Science Manager')
('US', 'Data Scientist')
('US', 'Data Specialist')
('US', 'Director of Data Engineering')
('US', 'Director of Data Science')
('US', 'Financial Data Analyst')
('US', 'Head of Data')
('US', 'Head of Data Science')
('US', 'Lead Data Analyst')
('US', 'Lead Data Engineer')
('US', 'Lead Data Scientist')
('US', 'ML Engineer')
('US', 'Machine Learning Engineer')
('US', 'Machine Learning Infrastructure Engineer')
('US', 'Machine Learning Scientist')
('US', 'NLP Engineer')
('US', 'Principal Data Analyst')
('US', 'Principal Data Engineer')
('US', 'Principal Data Scientist')
('US', 'Research Scientist')
('US', 'Staff Data Scientist')
('VN', 'Applied Machine Learning Scientist')
('VN', 'Data Analytics Engineer')
('VN', 'Data Scientist')
('employee_residence', 'job_title')