# ALMACENAMIENTO DE DATOS DE SQL A ARCHIVOS CSV

In [1]:
import sqlite3 as sql
connection = sql.connect('ds_salaries.sqlite')

# 2. Creaci√≥n de un objeto cursor
cursor = connection.cursor()

# 3. Se crea una consulta de prueba
q = '''
SELECT *
FROM ds_salaries
'''

# 4. Se ejecuta el query
cursor.execute(q)

# 5. Se obtienen los resultados de la consulta
results = cursor.fetchall()

for r in results:
    print(r)

(None, 'work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size')
(0, '2020', 'MI', 'FT', 'Data Scientist', '70000', 'EUR', '79833', 'DE', '0', 'DE', 'L')
(1, '2020', 'SE', 'FT', 'Machine Learning Scientist', '260000', 'USD', '260000', 'JP', '0', 'JP', 'S')
(2, '2020', 'SE', 'FT', 'Big Data Engineer', '85000', 'GBP', '109024', 'GB', '50', 'GB', 'M')
(3, '2020', 'MI', 'FT', 'Product Data Analyst', '20000', 'USD', '20000', 'HN', '0', 'HN', 'S')
(4, '2020', 'SE', 'FT', 'Machine Learning Engineer', '150000', 'USD', '150000', 'US', '50', 'US', 'L')
(5, '2020', 'EN', 'FT', 'Data Analyst', '72000', 'USD', '72000', 'US', '100', 'US', 'L')
(6, '2020', 'SE', 'FT', 'Lead Data Scientist', '190000', 'USD', '190000', 'US', '100', 'US', 'S')
(7, '2020', 'MI', 'FT', 'Data Scientist', '11000000', 'HUF', '35735', 'HU', '50', 'HU', 'L')
(8, '2020', 'MI', 'FT', 'Business Data Analyst', '135000', 'USD', '135000', 'US', '100', 'US', 'L')
(9, '2020', 'SE', 'FT', 'Lead Data Engineer', '125000', 'USD', '125000', 'NZ', '50', 'NZ', 'S')
(10, '2020', 'EN', 'FT', 'Data Scientist', '45000', 'EUR', '51321', 'FR', '0', 'FR', 'S')
(11, '2020', 'MI', 'FT', 'Data Scientist', '3000000', 'INR', '40481', 'IN', '0', 'IN', 'L')
(12, '2020', 'EN', 'FT', 'Data Scientist', '35000', 'EUR', '39916', 'FR', '0', 'FR', 'M')
(13, '2020', 'MI', 'FT', 'Lead Data Analyst', '87000', 'USD', '87000', 'US', '100', 'US', 'L')
(14, '2020', 'MI', 'FT', 'Data Analyst', '85000', 'USD', '85000', 'US', '100', 'US', 'L')
(15, '2020', 'MI', 'FT', 'Data Analyst', '8000', 'USD', '8000', 'PK', '50', 'PK', 'L')
(16, '2020', 'EN', 'FT', 'Data Engineer', '4450000', 'JPY', '41689', 'JP', '100', 'JP', 'S')
(17, '2020', 'SE', 'FT', 'Big Data Engineer', '100000', 'EUR', '114047', 'PL', '100', 'GB', 'S')
(18, '2020', 'EN', 'FT', 'Data Science Consultant', '423000', 'INR', '5707', 'IN', '50', 'IN', 'M')
(19, '2020', 'MI', 'FT', 'Lead Data Engineer', '56000', 'USD', '56000', 'PT', '100', 'US', 'M')
(20, '2020', 'MI', 'FT', 'Machine Learning Engineer', '299000', 'CNY', '43331', 'CN', '0', 'CN', 'M')
(21, '2020', 'MI', 'FT', 'Product Data Analyst', '450000', 'INR', '6072', 'IN', '100', 'IN', 'L')
(22, '2020', 'SE', 'FT', 'Data Engineer', '42000', 'EUR', '47899', 'GR', '50', 'GR', 'L')
(23, '2020', 'MI', 'FT', 'BI Data Analyst', '98000', 'USD', '98000', 'US', '0', 'US', 'M')
(24, '2020', 'MI', 'FT', 'Lead Data Scientist', '115000', 'USD', '115000', 'AE', '0', 'AE', 'L')
(25, '2020', 'EX', 'FT', 'Director of Data Science', '325000', 'USD', '325000', 'US', '100', 'US', 'L')
(26, '2020', 'EN', 'FT', 'Research Scientist', '42000', 'USD', '42000', 'NL', '50', 'NL', 'L')
(27, '2020', 'SE', 'FT', 'Data Engineer', '720000', 'MXN', '33511', 'MX', '0', 'MX', 'S')
(28, '2020', 'EN', 'CT', 'Business Data Analyst', '100000', 'USD', '100000', 'US', '100', 'US', 'L')
(29, '2020', 'SE', 'FT', 'Machine Learning Manager', '157000', 'CAD', '117104', 'CA', '50', 'CA', 'L')
(30, '2020', 'MI', 'FT', 'Data Engineering Manager', '51999', 'EUR', '59303', 'DE', '100', 'DE', 'S')
(31, '2020', 'EN', 'FT', 'Big Data Engineer', '70000', 'USD', '70000', 'US', '100', 'US', 'L')
(32, '2020', 'SE', 'FT', 'Data Scientist', '60000', 'EUR', '68428', 'GR', '100', 'US', 'L')
(33, '2020', 'MI', 'FT', 'Research Scientist', '450000', 'USD', '450000', 'US', '0', 'US', 'M')
(34, '2020', 'MI', 'FT', 'Data Analyst', '41000', 'EUR', '46759', 'FR', '50', 'FR', 'L')
(35, '2020', 'MI', 'FT', 'Data Engineer', '65000', 'EUR', '74130', 'AT', '50', 'AT', 'L')
(36, '2020', 'MI', 'FT', 'Data Science Consultant', '103000', 'USD', '103000', 'US', '100', 'US', 'L')
(37, '2020', 'EN', 'FT', 'Machine Learning Engineer', '250000', 'USD', '250000', 'US', '50', 'US', 'L')
(38, '2020', 'EN', 'FT', 'Data Analyst', '10000', 'USD', '10000', 'NG', '100', 'NG', 'S')
(39, '2020', 'EN', 'FT', 'Machine Learning Engineer', '138000', 'USD', '138000', 'US', '100', 'US', 'S')
(40, '2020', 'MI', 'FT', 'Data Scientist', '45760', 'USD', '45760', 'PH', '100', 'US', 'S')
(41, '2020', 'EX', 'FT', 'Data Engineering Manager', '70000', 'EUR', '79833', 'ES', '50', 'ES', 'L')
(42, '2020', 'MI', 'FT', 'Machine Learning Infrastructure Engineer', '44000', 'EUR', '50180', 'PT', '0', 'PT', 'M')
(43, '2020', 'MI', 'FT', 'Data Engineer', '106000', 'USD', '106000', 'US', '100', 'US', 'L')
(44, '2020', 'MI', 'FT', 'Data Engineer', '88000', 'GBP', '112872', 'GB', '50', 'GB', 'L')
(45, '2020', 'EN', 'PT', 'ML Engineer', '14000', 'EUR', '15966', 'DE', '100', 'DE', 'S')
(46, '2020', 'MI', 'FT', 'Data Scientist', '60000', 'GBP', '76958', 'GB', '100', 'GB', 'S')
(47, '2020', 'SE', 'FT', 'Data Engineer', '188000', 'USD', '188000', 'US', '100', 'US', 'L')
(48, '2020', 'MI', 'FT', 'Data Scientist', '105000', 'USD', '105000', 'US', '100', 'US', 'L')
(49, '2020', 'MI', 'FT', 'Data Engineer', '61500', 'EUR', '70139', 'FR', '50', 'FR', 'L')
(50, '2020', 'EN', 'FT', 'Data Analyst', '450000', 'INR', '6072', 'IN', '0', 'IN', 'S')
(51, '2020', 'EN', 'FT', 'Data Analyst', '91000', 'USD', '91000', 'US', '100', 'US', 'L')
(52, '2020', 'EN', 'FT', 'AI Scientist', '300000', 'DKK', '45896', 'DK', '50', 'DK', 'S')
(53, '2020', 'EN', 'FT', 'Data Engineer', '48000', 'EUR', '54742', 'PK', '100', 'DE', 'L')
(54, '2020', 'SE', 'FL', 'Computer Vision Engineer', '60000', 'USD', '60000', 'RU', '100', 'US', 'S')
(55, '2020', 'SE', 'FT', 'Principal Data Scientist', '130000', 'EUR', '148261', 'DE', '100', 'DE', 'M')
(56, '2020', 'MI', 'FT', 'Data Scientist', '34000', 'EUR', '38776', 'ES', '100', 'ES', 'M')
(57, '2020', 'MI', 'FT', 'Data Scientist', '118000', 'USD', '118000', 'US', '100', 'US', 'M')
(58, '2020', 'SE', 'FT', 'Data Scientist', '120000', 'USD', '120000', 'US', '50', 'US', 'L')
(59, '2020', 'MI', 'FT', 'Data Scientist', '138350', 'USD', '138350', 'US', '100', 'US', 'M')
(60, '2020', 'MI', 'FT', 'Data Engineer', '110000', 'USD', '110000', 'US', '100', 'US', 'L')
(61, '2020', 'MI', 'FT', 'Data Engineer', '130800', 'USD', '130800', 'ES', '100', 'US', 'M')
(62, '2020', 'EN', 'PT', 'Data Scientist', '19000', 'EUR', '21669', 'IT', '50', 'IT', 'S')
(63, '2020', 'SE', 'FT', 'Data Scientist', '412000', 'USD', '412000', 'US', '100', 'US', 'L')
(64, '2020', 'SE', 'FT', 'Machine Learning Engineer', '40000', 'EUR', '45618', 'HR', '100', 'HR', 'S')
(65, '2020', 'EN', 'FT', 'Data Scientist', '55000', 'EUR', '62726', 'DE', '50', 'DE', 'S')
(66, '2020', 'EN', 'FT', 'Data Scientist', '43200', 'EUR', '49268', 'DE', '0', 'DE', 'S')
(67, '2020', 'SE', 'FT', 'Data Science Manager', '190200', 'USD', '190200', 'US', '100', 'US', 'M')
(68, '2020', 'EN', 'FT', 'Data Scientist', '105000', 'USD', '105000', 'US', '100', 'US', 'S')
(69, '2020', 'SE', 'FT', 'Data Scientist', '80000', 'EUR', '91237', 'AT', '0', 'AT', 'S')
(70, '2020', 'MI', 'FT', 'Data Scientist', '55000', 'EUR', '62726', 'FR', '50', 'LU', 'S')
(71, '2020', 'MI', 'FT', 'Data Scientist', '37000', 'EUR', '42197', 'FR', '50', 'FR', 'S')
(72, '2021', 'EN', 'FT', 'Research Scientist', '60000', 'GBP', '82528', 'GB', '50', 'GB', 'L')
(73, '2021', 'EX', 'FT', 'BI Data Analyst', '150000', 'USD', '150000', 'IN', '100', 'US', 'L')
(74, '2021', 'EX', 'FT', 'Head of Data', '235000', 'USD', '235000', 'US', '100', 'US', 'L')
(75, '2021', 'SE', 'FT', 'Data Scientist', '45000', 'EUR', '53192', 'FR', '50', 'FR', 'L')
(76, '2021', 'MI', 'FT', 'BI Data Analyst', '100000', 'USD', '100000', 'US', '100', 'US', 'M')
(77, '2021', 'MI', 'PT', '3D Computer Vision Researcher', '400000', 'INR', '5409', 'IN', '50', 'IN', 'M')
(78, '2021', 'MI', 'CT', 'ML Engineer', '270000', 'USD', '270000', 'US', '100', 'US', 'L')
(79, '2021', 'EN', 'FT', 'Data Analyst', '80000', 'USD', '80000', 'US', '100', 'US', 'M')
(80, '2021', 'SE', 'FT', 'Data Analytics Engineer', '67000', 'EUR', '79197', 'DE', '100', 'DE', 'L')
(81, '2021', 'MI', 'FT', 'Data Engineer', '140000', 'USD', '140000', 'US', '100', 'US', 'L')
(82, '2021', 'MI', 'FT', 'Applied Data Scientist', '68000', 'CAD', '54238', 'GB', '50', 'CA', 'L')
(83, '2021', 'MI', 'FT', 'Machine Learning Engineer', '40000', 'EUR', '47282', 'ES', '100', 'ES', 'S')
(84, '2021', 'EX', 'FT', 'Director of Data Science', '130000', 'EUR', '153667', 'IT', '100', 'PL', 'L')
(85, '2021', 'MI', 'FT', 'Data Engineer', '110000', 'PLN', '28476', 'PL', '100', 'PL', 'L')
(86, '2021', 'EN', 'FT', 'Data Analyst', '50000', 'EUR', '59102', 'FR', '50', 'FR', 'M')
(87, '2021', 'MI', 'FT', 'Data Analytics Engineer', '110000', 'USD', '110000', 'US', '100', 'US', 'L')
(88, '2021', 'SE', 'FT', 'Lead Data Analyst', '170000', 'USD', '170000', 'US', '100', 'US', 'L')
(89, '2021', 'SE', 'FT', 'Data Analyst', '80000', 'USD', '80000', 'BG', '100', 'US', 'S')
(90, '2021', 'SE', 'FT', 'Marketing Data Analyst', '75000', 'EUR', '88654', 'GR', '100', 'DK', 'L')
(91, '2021', 'EN', 'FT', 'Data Science Consultant', '65000', 'EUR', '76833', 'DE', '100', 'DE', 'S')
(92, '2021', 'MI', 'FT', 'Lead Data Analyst', '1450000', 'INR', '19609', 'IN', '100', 'IN', 'L')
(93, '2021', 'SE', 'FT', 'Lead Data Engineer', '276000', 'USD', '276000', 'US', '0', 'US', 'L')
(94, '2021', 'EN', 'FT', 'Data Scientist', '2200000', 'INR', '29751', 'IN', '50', 'IN', 'L')
(95, '2021', 'MI', 'FT', 'Cloud Data Engineer', '120000', 'SGD', '89294', 'SG', '50', 'SG', 'L')
(96, '2021', 'EN', 'PT', 'AI Scientist', '12000', 'USD', '12000', 'BR', '100', 'US', 'S')
(97, '2021', 'MI', 'FT', 'Financial Data Analyst', '450000', 'USD', '450000', 'US', '100', 'US', 'L')
(98, '2021', 'EN', 'FT', 'Computer Vision Software Engineer', '70000', 'USD', '70000', 'US', '100', 'US', 'M')
(99, '2021', 'MI', 'FT', 'Computer Vision Software Engineer', '81000', 'EUR', '95746', 'DE', '100', 'US', 'S')
(100, '2021', 'MI', 'FT', 'Data Analyst', '75000', 'USD', '75000', 'US', '0', 'US', 'L')
(101, '2021', 'SE', 'FT', 'Data Engineer', '150000', 'USD', '150000', 'US', '100', 'US', 'L')
(102, '2021', 'MI', 'FT', 'BI Data Analyst', '11000000', 'HUF', '36259', 'HU', '50', 'US', 'L')
(103, '2021', 'MI', 'FT', 'Data Analyst', '62000', 'USD', '62000', 'US', '0', 'US', 'L')
(104, '2021', 'MI', 'FT', 'Data Scientist', '73000', 'USD', '73000', 'US', '0', 'US', 'L')
(105, '2021', 'MI', 'FT', 'Data Analyst', '37456', 'GBP', '51519', 'GB', '50', 'GB', 'L')
(106, '2021', 'MI', 'FT', 'Research Scientist', '235000', 'CAD', '187442', 'CA', '100', 'CA', 'L')
(107, '2021', 'SE', 'FT', 'Data Engineer', '115000', 'USD', '115000', 'US', '100', 'US', 'S')
(108, '2021', 'SE', 'FT', 'Data Engineer', '150000', 'USD', '150000', 'US', '100', 'US', 'M')
(109, '2021', 'EN', 'FT', 'Data Engineer', '2250000', 'INR', '30428', 'IN', '100', 'IN', 'L')
(110, '2021', 'SE', 'FT', 'Machine Learning Engineer', '80000', 'EUR', '94564', 'DE', '50', 'DE', 'L')
(111, '2021', 'SE', 'FT', 'Director of Data Engineering', '82500', 'GBP', '113476', 'GB', '100', 'GB', 'M')
(112, '2021', 'SE', 'FT', 'Lead Data Engineer', '75000', 'GBP', '103160', 'GB', '100', 'GB', 'S')
(113, '2021', 'EN', 'PT', 'AI Scientist', '12000', 'USD', '12000', 'PK', '100', 'US', 'M')
(114, '2021', 'MI', 'FT', 'Data Engineer', '38400', 'EUR', '45391', 'NL', '100', 'NL', 'L')
(115, '2021', 'EN', 'FT', 'Machine Learning Scientist', '225000', 'USD', '225000', 'US', '100', 'US', 'L')
(116, '2021', 'MI', 'FT', 'Data Scientist', '50000', 'USD', '50000', 'NG', '100', 'NG', 'L')
(117, '2021', 'MI', 'FT', 'Data Science Engineer', '34000', 'EUR', '40189', 'GR', '100', 'GR', 'M')
(118, '2021', 'EN', 'FT', 'Data Analyst', '90000', 'USD', '90000', 'US', '100', 'US', 'S')
(119, '2021', 'MI', 'FT', 'Data Engineer', '200000', 'USD', '200000', 'US', '100', 'US', 'L')
(120, '2021', 'MI', 'FT', 'Big Data Engineer', '60000', 'USD', '60000', 'ES', '50', 'RO', 'M')
(121, '2021', 'SE', 'FT', 'Principal Data Engineer', '200000', 'USD', '200000', 'US', '100', 'US', 'M')
(122, '2021', 'EN', 'FT', 'Data Analyst', '50000', 'USD', '50000', 'US', '100', 'US', 'M')
(123, '2021', 'EN', 'FT', 'Applied Data Scientist', '80000', 'GBP', '110037', 'GB', '0', 'GB', 'L')
(124, '2021', 'EN', 'PT', 'Data Analyst', '8760', 'EUR', '10354', 'ES', '50', 'ES', 'M')
(125, '2021', 'MI', 'FT', 'Principal Data Scientist', '151000', 'USD', '151000', 'US', '100', 'US', 'L')
(126, '2021', 'SE', 'FT', 'Machine Learning Scientist', '120000', 'USD', '120000', 'US', '50', 'US', 'S')
(127, '2021', 'MI', 'FT', 'Data Scientist', '700000', 'INR', '9466', 'IN', '0', 'IN', 'S')
(128, '2021', 'EN', 'FT', 'Machine Learning Engineer', '20000', 'USD', '20000', 'IN', '100', 'IN', 'S')
(129, '2021', 'SE', 'FT', 'Lead Data Scientist', '3000000', 'INR', '40570', 'IN', '50', 'IN', 'L')
(130, '2021', 'EN', 'FT', 'Machine Learning Developer', '100000', 'USD', '100000', 'IQ', '50', 'IQ', 'S')
(131, '2021', 'EN', 'FT', 'Data Scientist', '42000', 'EUR', '49646', 'FR', '50', 'FR', 'M')
(132, '2021', 'MI', 'FT', 'Applied Machine Learning Scientist', '38400', 'USD', '38400', 'VN', '100', 'US', 'M')
(133, '2021', 'SE', 'FT', 'Computer Vision Engineer', '24000', 'USD', '24000', 'BR', '100', 'BR', 'M')
(134, '2021', 'EN', 'FT', 'Data Scientist', '100000', 'USD', '100000', 'US', '0', 'US', 'S')
(135, '2021', 'MI', 'FT', 'Data Analyst', '90000', 'USD', '90000', 'US', '100', 'US', 'M')
(136, '2021', 'MI', 'FT', 'ML Engineer', '7000000', 'JPY', '63711', 'JP', '50', 'JP', 'S')
(137, '2021', 'MI', 'FT', 'ML Engineer', '8500000', 'JPY', '77364', 'JP', '50', 'JP', 'S')
(138, '2021', 'SE', 'FT', 'Principal Data Scientist', '220000', 'USD', '220000', 'US', '0', 'US', 'L')
(139, '2021', 'EN', 'FT', 'Data Scientist', '80000', 'USD', '80000', 'US', '100', 'US', 'M')
(140, '2021', 'MI', 'FT', 'Data Analyst', '135000', 'USD', '135000', 'US', '100', 'US', 'L')
(141, '2021', 'SE', 'FT', 'Data Science Manager', '240000', 'USD', '240000', 'US', '0', 'US', 'L')
(142, '2021', 'SE', 'FT', 'Data Engineering Manager', '150000', 'USD', '150000', 'US', '0', 'US', 'L')
(143, '2021', 'MI', 'FT', 'Data Scientist', '82500', 'USD', '82500', 'US', '100', 'US', 'S')
(144, '2021', 'MI', 'FT', 'Data Engineer', '100000', 'USD', '100000', 'US', '100', 'US', 'L')
(145, '2021', 'SE', 'FT', 'Machine Learning Engineer', '70000', 'EUR', '82744', 'BE', '50', 'BE', 'M')
(146, '2021', 'MI', 'FT', 'Research Scientist', '53000', 'EUR', '62649', 'FR', '50', 'FR', 'M')
(147, '2021', 'MI', 'FT', 'Data Engineer', '90000', 'USD', '90000', 'US', '100', 'US', 'L')
(148, '2021', 'SE', 'FT', 'Data Engineering Manager', '153000', 'USD', '153000', 'US', '100', 'US', 'L')
(149, '2021', 'SE', 'FT', 'Cloud Data Engineer', '160000', 'USD', '160000', 'BR', '100', 'US', 'S')
(150, '2021', 'SE', 'FT', 'Director of Data Science', '168000', 'USD', '168000', 'JP', '0', 'JP', 'S')
(151, '2021', 'MI', 'FT', 'Data Scientist', '150000', 'USD', '150000', 'US', '100', 'US', 'M')
(152, '2021', 'MI', 'FT', 'Data Scientist', '95000', 'CAD', '75774', 'CA', '100', 'CA', 'L')
(153, '2021', 'EN', 'FT', 'Data Scientist', '13400', 'USD', '13400', 'UA', '100', 'UA', 'L')
(154, '2021', 'SE', 'FT', 'Data Science Manager', '144000', 'USD', '144000', 'US', '100', 'US', 'L')
(155, '2021', 'SE', 'FT', 'Data Science Engineer', '159500', 'CAD', '127221', 'CA', '50', 'CA', 'L')
(156, '2021', 'MI', 'FT', 'Data Scientist', '160000', 'SGD', '119059', 'SG', '100', 'IL', 'M')
(157, '2021', 'MI', 'FT', 'Applied Machine Learning Scientist', '423000', 'USD', '423000', 'US', '50', 'US', 'L')
(158, '2021', 'SE', 'FT', 'Data Analytics Manager', '120000', 'USD', '120000', 'US', '100', 'US', 'M')
(159, '2021', 'EN', 'FT', 'Machine Learning Engineer', '125000', 'USD', '125000', 'US', '100', 'US', 'S')
(160, '2021', 'EX', 'FT', 'Head of Data', '230000', 'USD', '230000', 'RU', '50', 'RU', 'L')
(161, '2021', 'EX', 'FT', 'Head of Data Science', '85000', 'USD', '85000', 'RU', '0', 'RU', 'M')
(162, '2021', 'MI', 'FT', 'Data Engineer', '24000', 'EUR', '28369', 'MT', '50', 'MT', 'L')
(163, '2021', 'EN', 'FT', 'Data Science Consultant', '54000', 'EUR', '63831', 'DE', '50', 'DE', 'L')
(164, '2021', 'EX', 'FT', 'Director of Data Science', '110000', 'EUR', '130026', 'DE', '50', 'DE', 'M')
(165, '2021', 'SE', 'FT', 'Data Specialist', '165000', 'USD', '165000', 'US', '100', 'US', 'L')
(166, '2021', 'EN', 'FT', 'Data Engineer', '80000', 'USD', '80000', 'US', '100', 'US', 'L')
(167, '2021', 'EX', 'FT', 'Director of Data Science', '250000', 'USD', '250000', 'US', '0', 'US', 'L')
(168, '2021', 'EN', 'FT', 'BI Data Analyst', '55000', 'USD', '55000', 'US', '50', 'US', 'S')
(169, '2021', 'MI', 'FT', 'Data Architect', '150000', 'USD', '150000', 'US', '100', 'US', 'L')
(170, '2021', 'MI', 'FT', 'Data Architect', '170000', 'USD', '170000', 'US', '100', 'US', 'L')
(171, '2021', 'MI', 'FT', 'Data Engineer', '60000', 'GBP', '82528', 'GB', '100', 'GB', 'L')
(172, '2021', 'EN', 'FT', 'Data Analyst', '60000', 'USD', '60000', 'US', '100', 'US', 'S')
(173, '2021', 'SE', 'FT', 'Principal Data Scientist', '235000', 'USD', '235000', 'US', '100', 'US', 'L')
(174, '2021', 'SE', 'FT', 'Research Scientist', '51400', 'EUR', '60757', 'PT', '50', 'PT', 'L')
(175, '2021', 'SE', 'FT', 'Data Engineering Manager', '174000', 'USD', '174000', 'US', '100', 'US', 'L')
(176, '2021', 'MI', 'FT', 'Data Scientist', '58000', 'MXN', '2859', 'MX', '0', 'MX', 'S')
(177, '2021', 'MI', 'FT', 'Data Scientist', '30400000', 'CLP', '40038', 'CL', '100', 'CL', 'L')
(178, '2021', 'EN', 'FT', 'Machine Learning Engineer', '81000', 'USD', '81000', 'US', '50', 'US', 'S')
(179, '2021', 'MI', 'FT', 'Data Scientist', '420000', 'INR', '5679', 'IN', '100', 'US', 'S')
(180, '2021', 'MI', 'FT', 'Big Data Engineer', '1672000', 'INR', '22611', 'IN', '0', 'IN', 'L')
(181, '2021', 'MI', 'FT', 'Data Scientist', '76760', 'EUR', '90734', 'DE', '50', 'DE', 'L')
(182, '2021', 'MI', 'FT', 'Data Engineer', '22000', 'EUR', '26005', 'RO', '0', 'US', 'L')
(183, '2021', 'SE', 'FT', 'Finance Data Analyst', '45000', 'GBP', '61896', 'GB', '50', 'GB', 'L')
(184, '2021', 'MI', 'FL', 'Machine Learning Scientist', '12000', 'USD', '12000', 'PK', '50', 'PK', 'M')
(185, '2021', 'MI', 'FT', 'Data Engineer', '4000', 'USD', '4000', 'IR', '100', 'IR', 'M')
(186, '2021', 'SE', 'FT', 'Data Analytics Engineer', '50000', 'USD', '50000', 'VN', '100', 'GB', 'M')
(187, '2021', 'EX', 'FT', 'Data Science Consultant', '59000', 'EUR', '69741', 'FR', '100', 'ES', 'S')
(188, '2021', 'SE', 'FT', 'Data Engineer', '65000', 'EUR', '76833', 'RO', '50', 'GB', 'S')
(189, '2021', 'MI', 'FT', 'Machine Learning Engineer', '74000', 'USD', '74000', 'JP', '50', 'JP', 'S')
(190, '2021', 'SE', 'FT', 'Data Science Manager', '152000', 'USD', '152000', 'US', '100', 'FR', 'L')
(191, '2021', 'EN', 'FT', 'Machine Learning Engineer', '21844', 'USD', '21844', 'CO', '50', 'CO', 'M')
(192, '2021', 'MI', 'FT', 'Big Data Engineer', '18000', 'USD', '18000', 'MD', '0', 'MD', 'S')
(193, '2021', 'SE', 'FT', 'Data Science Manager', '174000', 'USD', '174000', 'US', '100', 'US', 'L')
(194, '2021', 'SE', 'FT', 'Research Scientist', '120500', 'CAD', '96113', 'CA', '50', 'CA', 'L')
(195, '2021', 'MI', 'FT', 'Data Scientist', '147000', 'USD', '147000', 'US', '50', 'US', 'L')
(196, '2021', 'EN', 'FT', 'BI Data Analyst', '9272', 'USD', '9272', 'KE', '100', 'KE', 'S')
(197, '2021', 'SE', 'FT', 'Machine Learning Engineer', '1799997', 'INR', '24342', 'IN', '100', 'IN', 'L')
(198, '2021', 'SE', 'FT', 'Data Science Manager', '4000000', 'INR', '54094', 'IN', '50', 'US', 'L')
(199, '2021', 'EN', 'FT', 'Data Science Consultant', '90000', 'USD', '90000', 'US', '100', 'US', 'S')
(200, '2021', 'MI', 'FT', 'Data Scientist', '52000', 'EUR', '61467', 'DE', '50', 'AT', 'M')
(201, '2021', 'SE', 'FT', 'Machine Learning Infrastructure Engineer', '195000', 'USD', '195000', 'US', '100', 'US', 'M')
(202, '2021', 'MI', 'FT', 'Data Scientist', '32000', 'EUR', '37825', 'ES', '100', 'ES', 'L')
(203, '2021', 'SE', 'FT', 'Research Scientist', '50000', 'USD', '50000', 'FR', '100', 'US', 'S')
(204, '2021', 'MI', 'FT', 'Data Scientist', '160000', 'USD', '160000', 'US', '100', 'US', 'L')

In [5]:
# Crea la consulta
q = '''
SELECT CAST(c2 AS INT) as yir, c9 as ctry, c5 as job_title, CAST(c8 AS FLOAT) as salary
FROM ds_salaries;
'''
# Ejecuta la consulta
cursor.execute(q)
# Obtiene resultados
results = cursor.fetchall()
# Imprime
for r in results:
    print(r)

(0, 'employee_residence', 'job_title', 0.0)
(2020, 'DE', 'Data Scientist', 79833.0)
(2020, 'JP', 'Machine Learning Scientist', 260000.0)
(2020, 'GB', 'Big Data Engineer', 109024.0)
(2020, 'HN', 'Product Data Analyst', 20000.0)
(2020, 'US', 'Machine Learning Engineer', 150000.0)
(2020, 'US', 'Data Analyst', 72000.0)
(2020, 'US', 'Lead Data Scientist', 190000.0)
(2020, 'HU', 'Data Scientist', 35735.0)
(2020, 'US', 'Business Data Analyst', 135000.0)
(2020, 'NZ', 'Lead Data Engineer', 125000.0)
(2020, 'FR', 'Data Scientist', 51321.0)
(2020, 'IN', 'Data Scientist', 40481.0)
(2020, 'FR', 'Data Scientist', 39916.0)
(2020, 'US', 'Lead Data Analyst', 87000.0)
(2020, 'US', 'Data Analyst', 85000.0)
(2020, 'PK', 'Data Analyst', 8000.0)
(2020, 'JP', 'Data Engineer', 41689.0)
(2020, 'PL', 'Big Data Engineer', 114047.0)
(2020, 'IN', 'Data Science Consultant', 5707.0)
(2020, 'PT', 'Lead Data Engineer', 56000.0)
(2020, 'CN', 'Machine Learning Engineer', 43331.0)
(2020, 'IN', 'Product Data Analyst', 6072.0)
(2020, 'GR', 'Data Engineer', 47899.0)
(2020, 'US', 'BI Data Analyst', 98000.0)
(2020, 'AE', 'Lead Data Scientist', 115000.0)
(2020, 'US', 'Director of Data Science', 325000.0)
(2020, 'NL', 'Research Scientist', 42000.0)
(2020, 'MX', 'Data Engineer', 33511.0)
(2020, 'US', 'Business Data Analyst', 100000.0)
(2020, 'CA', 'Machine Learning Manager', 117104.0)
(2020, 'DE', 'Data Engineering Manager', 59303.0)
(2020, 'US', 'Big Data Engineer', 70000.0)
(2020, 'GR', 'Data Scientist', 68428.0)
(2020, 'US', 'Research Scientist', 450000.0)
(2020, 'FR', 'Data Analyst', 46759.0)
(2020, 'AT', 'Data Engineer', 74130.0)
(2020, 'US', 'Data Science Consultant', 103000.0)
(2020, 'US', 'Machine Learning Engineer', 250000.0)
(2020, 'NG', 'Data Analyst', 10000.0)
(2020, 'US', 'Machine Learning Engineer', 138000.0)
(2020, 'PH', 'Data Scientist', 45760.0)
(2020, 'ES', 'Data Engineering Manager', 79833.0)
(2020, 'PT', 'Machine Learning Infrastructure Engineer', 50180.0)
(2020, 'US', 'Data Engineer', 106000.0)
(2020, 'GB', 'Data Engineer', 112872.0)
(2020, 'DE', 'ML Engineer', 15966.0)
(2020, 'GB', 'Data Scientist', 76958.0)
(2020, 'US', 'Data Engineer', 188000.0)
(2020, 'US', 'Data Scientist', 105000.0)
(2020, 'FR', 'Data Engineer', 70139.0)
(2020, 'IN', 'Data Analyst', 6072.0)
(2020, 'US', 'Data Analyst', 91000.0)
(2020, 'DK', 'AI Scientist', 45896.0)
(2020, 'PK', 'Data Engineer', 54742.0)
(2020, 'RU', 'Computer Vision Engineer', 60000.0)
(2020, 'DE', 'Principal Data Scientist', 148261.0)
(2020, 'ES', 'Data Scientist', 38776.0)
(2020, 'US', 'Data Scientist', 118000.0)
(2020, 'US', 'Data Scientist', 120000.0)
(2020, 'US', 'Data Scientist', 138350.0)
(2020, 'US', 'Data Engineer', 110000.0)
(2020, 'ES', 'Data Engineer', 130800.0)
(2020, 'IT', 'Data Scientist', 21669.0)
(2020, 'US', 'Data Scientist', 412000.0)
(2020, 'HR', 'Machine Learning Engineer', 45618.0)
(2020, 'DE', 'Data Scientist', 62726.0)
(2020, 'DE', 'Data Scientist', 49268.0)
(2020, 'US', 'Data Science Manager', 190200.0)
(2020, 'US', 'Data Scientist', 105000.0)
(2020, 'AT', 'Data Scientist', 91237.0)
(2020, 'FR', 'Data Scientist', 62726.0)
(2020, 'FR', 'Data Scientist', 42197.0)
(2021, 'GB', 'Research Scientist', 82528.0)
(2021, 'IN', 'BI Data Analyst', 150000.0)
(2021, 'US', 'Head of Data', 235000.0)
(2021, 'FR', 'Data Scientist', 53192.0)
(2021, 'US', 'BI Data Analyst', 100000.0)
(2021, 'IN', '3D Computer Vision Researcher', 5409.0)
(2021, 'US', 'ML Engineer', 270000.0)
(2021, 'US', 'Data Analyst', 80000.0)
(2021, 'DE', 'Data Analytics Engineer', 79197.0)
(2021, 'US', 'Data Engineer', 140000.0)
(2021, 'GB', 'Applied Data Scientist', 54238.0)
(2021, 'ES', 'Machine Learning Engineer', 47282.0)
(2021, 'IT', 'Director of Data Science', 153667.0)
(2021, 'PL', 'Data Engineer', 28476.0)
(2021, 'FR', 'Data Analyst', 59102.0)
(2021, 'US', 'Data Analytics Engineer', 110000.0)
(2021, 'US', 'Lead Data Analyst', 170000.0)
(2021, 'BG', 'Data Analyst', 80000.0)
(2021, 'GR', 'Marketing Data Analyst', 88654.0)
(2021, 'DE', 'Data Science Consultant', 76833.0)
(2021, 'IN', 'Lead Data Analyst', 19609.0)
(2021, 'US', 'Lead Data Engineer', 276000.0)
(2021, 'IN', 'Data Scientist', 29751.0)
(2021, 'SG', 'Cloud Data Engineer', 89294.0)
(2021, 'BR', 'AI Scientist', 12000.0)
(2021, 'US', 'Financial Data Analyst', 450000.0)
(2021, 'US', 'Computer Vision Software Engineer', 70000.0)
(2021, 'DE', 'Computer Vision Software Engineer', 95746.0)
(2021, 'US', 'Data Analyst', 75000.0)
(2021, 'US', 'Data Engineer', 150000.0)
(2021, 'HU', 'BI Data Analyst', 36259.0)
(2021, 'US', 'Data Analyst', 62000.0)
(2021, 'US', 'Data Scientist', 73000.0)
(2021, 'GB', 'Data Analyst', 51519.0)
(2021, 'CA', 'Research Scientist', 187442.0)
(2021, 'US', 'Data Engineer', 115000.0)
(2021, 'US', 'Data Engineer', 150000.0)
(2021, 'IN', 'Data Engineer', 30428.0)
(2021, 'DE', 'Machine Learning Engineer', 94564.0)
(2021, 'GB', 'Director of Data Engineering', 113476.0)
(2021, 'GB', 'Lead Data Engineer', 103160.0)
(2021, 'PK', 'AI Scientist', 12000.0)
(2021, 'NL', 'Data Engineer', 45391.0)
(2021, 'US', 'Machine Learning Scientist', 225000.0)
(2021, 'NG', 'Data Scientist', 50000.0)
(2021, 'GR', 'Data Science Engineer', 40189.0)
(2021, 'US', 'Data Analyst', 90000.0)
(2021, 'US', 'Data Engineer', 200000.0)
(2021, 'ES', 'Big Data Engineer', 60000.0)
(2021, 'US', 'Principal Data Engineer', 200000.0)
(2021, 'US', 'Data Analyst', 50000.0)
(2021, 'GB', 'Applied Data Scientist', 110037.0)
(2021, 'ES', 'Data Analyst', 10354.0)
(2021, 'US', 'Principal Data Scientist', 151000.0)
(2021, 'US', 'Machine Learning Scientist', 120000.0)
(2021, 'IN', 'Data Scientist', 9466.0)
(2021, 'IN', 'Machine Learning Engineer', 20000.0)
(2021, 'IN', 'Lead Data Scientist', 40570.0)
(2021, 'IQ', 'Machine Learning Developer', 100000.0)
(2021, 'FR', 'Data Scientist', 49646.0)
(2021, 'VN', 'Applied Machine Learning Scientist', 38400.0)
(2021, 'BR', 'Computer Vision Engineer', 24000.0)
(2021, 'US', 'Data Scientist', 100000.0)
(2021, 'US', 'Data Analyst', 90000.0)
(2021, 'JP', 'ML Engineer', 63711.0)
(2021, 'JP', 'ML Engineer', 77364.0)
(2021, 'US', 'Principal Data Scientist', 220000.0)
(2021, 'US', 'Data Scientist', 80000.0)
(2021, 'US', 'Data Analyst', 135000.0)
(2021, 'US', 'Data Science Manager', 240000.0)
(2021, 'US', 'Data Engineering Manager', 150000.0)
(2021, 'US', 'Data Scientist', 82500.0)
(2021, 'US', 'Data Engineer', 100000.0)
(2021, 'BE', 'Machine Learning Engineer', 82744.0)
(2021, 'FR', 'Research Scientist', 62649.0)
(2021, 'US', 'Data Engineer', 90000.0)
(2021, 'US', 'Data Engineering Manager', 153000.0)
(2021, 'BR', 'Cloud Data Engineer', 160000.0)
(2021, 'JP', 'Director of Data Science', 168000.0)
(2021, 'US', 'Data Scientist', 150000.0)
(2021, 'CA', 'Data Scientist', 75774.0)
(2021, 'UA', 'Data Scientist', 13400.0)
(2021, 'US', 'Data Science Manager', 144000.0)
(2021, 'CA', 'Data Science Engineer', 127221.0)
(2021, 'SG', 'Data Scientist', 119059.0)
(2021, 'US', 'Applied Machine Learning Scientist', 423000.0)
(2021, 'US', 'Data Analytics Manager', 120000.0)
(2021, 'US', 'Machine Learning Engineer', 125000.0)
(2021, 'RU', 'Head of Data', 230000.0)
(2021, 'RU', 'Head of Data Science', 85000.0)
(2021, 'MT', 'Data Engineer', 28369.0)
(2021, 'DE', 'Data Science Consultant', 63831.0)
(2021, 'DE', 'Director of Data Science', 130026.0)
(2021, 'US', 'Data Specialist', 165000.0)
(2021, 'US', 'Data Engineer', 80000.0)
(2021, 'US', 'Director of Data Science', 250000.0)
(2021, 'US', 'BI Data Analyst', 55000.0)
(2021, 'US', 'Data Architect', 150000.0)
(2021, 'US', 'Data Architect', 170000.0)
(2021, 'GB', 'Data Engineer', 82528.0)
(2021, 'US', 'Data Analyst', 60000.0)
(2021, 'US', 'Principal Data Scientist', 235000.0)
(2021, 'PT', 'Research Scientist', 60757.0)
(2021, 'US', 'Data Engineering Manager', 174000.0)
(2021, 'MX', 'Data Scientist', 2859.0)
(2021, 'CL', 'Data Scientist', 40038.0)
(2021, 'US', 'Machine Learning Engineer', 81000.0)
(2021, 'IN', 'Data Scientist', 5679.0)
(2021, 'IN', 'Big Data Engineer', 22611.0)
(2021, 'DE', 'Data Scientist', 90734.0)
(2021, 'RO', 'Data Engineer', 26005.0)
(2021, 'GB', 'Finance Data Analyst', 61896.0)
(2021, 'PK', 'Machine Learning Scientist', 12000.0)
(2021, 'IR', 'Data Engineer', 4000.0)
(2021, 'VN', 'Data Analytics Engineer', 50000.0)
(2021, 'FR', 'Data Science Consultant', 69741.0)
(2021, 'RO', 'Data Engineer', 76833.0)
(2021, 'JP', 'Machine Learning Engineer', 74000.0)
(2021, 'US', 'Data Science Manager', 152000.0)
(2021, 'CO', 'Machine Learning Engineer', 21844.0)
(2021, 'MD', 'Big Data Engineer', 18000.0)
(2021, 'US', 'Data Science Manager', 174000.0)
(2021, 'CA', 'Research Scientist', 96113.0)
(2021, 'US', 'Data Scientist', 147000.0)
(2021, 'KE', 'BI Data Analyst', 9272.0)
(2021, 'IN', 'Machine Learning Engineer', 24342.0)
(2021, 'IN', 'Data Science Manager', 54094.0)
(2021, 'US', 'Data Science Consultant', 90000.0)
(2021, 'DE', 'Data Scientist', 61467.0)
(2021, 'US', 'Machine Learning Infrastructure Engineer', 195000.0)
(2021, 'ES', 'Data Scientist', 37825.0)
(2021, 'FR', 'Research Scientist', 50000.0)
(2021, 'US', 'Data Scientist', 160000.0)
(2021, 'BR', 'Data Scientist', 12901.0)
(2021, 'US', 'Machine Learning Engineer', 200000.0)
(2021, 'US', 'Data Engineer', 165000.0)
(2021, 'IT', 'Data Engineer', 20000.0)
(2021, 'US', 'Data Analytics Manager', 120000.0)
(2021, 'SI', 'Machine Learning Engineer', 24823.0)
(2021, 'FR', 'Research Scientist', 56738.0)
(2021, 'HK', 'Data Engineer', 66022.0)
(2021, 'IN', 'Big Data Engineer', 5882.0)
(2021, 'DE', 'Machine Learning Engineer', 24823.0)
(2021, 'US', 'Principal Data Engineer', 185000.0)
(2021, 'DK', 'Computer Vision Engineer', 28609.0)
(2021, 'DE', 'Data Scientist', 90734.0)
(2021, 'BE', 'Machine Learning Engineer', 88654.0)
(2021, 'US', 'Data Analytics Manager', 140000.0)
(2021, 'PL', 'Machine Learning Engineer', 46597.0)
(2021, 'GB', 'Data Scientist', 116914.0)
(2021, 'IN', 'Data Scientist', 33808.0)
(2021, 'GB', 'Data Scientist', 56256.0)
(2021, 'US', 'Machine Learning Scientist', 225000.0)
(2021, 'US', 'Principal Data Scientist', 416000.0)
(2021, 'CA', 'Data Scientist', 87738.0)
(2021, 'DE', 'Data Scientist', 88654.0)
(2021, 'US', 'Data Scientist', 135000.0)
(2021, 'CA', 'Data Analyst', 71786.0)
(2021, 'IN', 'Big Data Engineer', 16228.0)
(2021, 'US', 'ML Engineer', 256000.0)
(2021, 'US', 'Director of Data Engineering', 200000.0)
(2021, 'US', 'Data Analyst', 200000.0)
(2021, 'US', 'Data Architect', 180000.0)
(2021, 'US', 'Head of Data Science', 110000.0)
(2021, 'CA', 'Research Scientist', 63810.0)
(2021, 'ES', 'Data Scientist', 46809.0)
(2021, 'VN', 'Data Scientist', 4000.0)
(2021, 'IN', 'Data Engineer', 21637.0)
(2021, 'CA', 'Data Scientist', 103691.0)
(2021, 'US', 'Data Analyst', 80000.0)
(2021, 'US', 'Data Engineer', 110000.0)
(2021, 'US', 'Data Scientist', 165000.0)
(2021, 'IN', 'AI Scientist', 18053.0)
(2021, 'GB', 'Data Engineer', 72212.0)
(2021, 'FR', 'Data Scientist', 36643.0)
(2021, 'TR', 'Data Engineer', 12103.0)
(2021, 'GB', 'Data Engineer', 96282.0)
(2021, 'US', 'Principal Data Analyst', 170000.0)
(2021, 'US', 'Data Scientist', 115000.0)
(2021, 'US', 'Data Scientist', 90000.0)
(2021, 'US', 'Principal Data Engineer', 600000.0)
(2021, 'IN', 'Data Scientist', 28399.0)
(2021, 'US', 'Data Analyst', 93000.0)
(2021, 'CA', 'Big Data Architect', 99703.0)
(2021, 'US', 'Data Engineer', 200000.0)
(2021, 'DE', 'Principal Data Scientist', 173762.0)
(2021, 'US', 'Machine Learning Engineer', 185000.0)
(2021, 'DE', 'Director of Data Science', 141846.0)
(2021, 'US', 'Data Scientist', 130000.0)
(2021, 'DE', 'Data Analyst', 63831.0)
(2021, 'IN', 'Data Scientist', 16904.0)
(2021, 'IN', 'Machine Learning Engineer', 66265.0)
(2021, 'RS', 'Data Scientist', 25532.0)
(2021, 'PR', 'Lead Data Engineer', 160000.0)
(2021, 'US', 'Data Engineer', 93150.0)
(2021, 'US', 'Data Engineer', 111775.0)
(2021, 'TR', 'Data Engineer', 28016.0)
(2021, 'DE', 'Data Engineer', 65013.0)
(2021, 'US', 'Data Engineer', 72500.0)
(2021, 'BR', 'Computer Vision Engineer', 18907.0)
(2021, 'DE', 'Data Science Consultant', 76833.0)
(2021, 'NL', 'Machine Learning Engineer', 85000.0)
(2021, 'FR', 'Data Scientist', 77684.0)
(2021, 'US', 'Data Scientist', 100000.0)
(2021, 'US', 'Data Scientist', 58000.0)
(2021, 'ES', 'AI Scientist', 55000.0)
(2021, 'TR', 'Data Scientist', 20171.0)
(2021, 'LU', 'Business Data Analyst', 59102.0)
(2021, 'US', 'Data Engineer', 112000.0)
(2021, 'JE', 'Research Scientist', 100000.0)
(2021, 'NL', 'Data Engineer', 69741.0)
(2021, 'US', 'Staff Data Scientist', 105000.0)
(2021, 'CZ', 'Research Scientist', 69999.0)
(2021, 'IN', 'Data Science Manager', 94665.0)
(2021, 'SI', 'Head of Data', 102839.0)
(2021, 'US', 'Data Scientist', 109000.0)
(2021, 'IT', 'Machine Learning Engineer', 51064.0)
(2022, 'US', 'Data Engineer', 135000.0)
(2022, 'US', 'Data Analyst', 155000.0)
(2022, 'US', 'Data Analyst', 120600.0)
(2022, 'US', 'Data Scientist', 130000.0)
(2022, 'US', 'Data Scientist', 90000.0)
(2022, 'US', 'Data Engineer', 170000.0)
(2022, 'US', 'Data Engineer', 150000.0)
(2022, 'US', 'Data Analyst', 102100.0)
(2022, 'US', 'Data Analyst', 84900.0)
(2022, 'US', 'Data Scientist', 136620.0)
(2022, 'US', 'Data Scientist', 99360.0)
(2022, 'GB', 'Data Scientist', 117789.0)
(2022, 'GB', 'Data Scientist', 104702.0)
(2022, 'US', 'Data Scientist', 146000.0)
(2022, 'US', 'Data Scientist', 123000.0)
(2022, 'GB', 'Data Engineer', 52351.0)
(2022, 'US', 'Data Analyst', 99000.0)
(2022, 'US', 'Data Analyst', 116000.0)
(2022, 'US', 'Data Analyst', 106260.0)
(2022, 'US', 'Data Analyst', 126500.0)
(2022, 'US', 'Data Engineer', 242000.0)
(2022, 'US', 'Data Engineer', 200000.0)
(2022, 'GB', 'Data Scientist', 65438.0)
(2022, 'GB', 'Data Scientist', 39263.0)
(2022, 'GB', 'Data Engineer', 78526.0)
(2022, 'GB', 'Data Engineer', 52351.0)
(2022, 'US', 'Data Scientist', 165220.0)
(2022, 'GB', 'Data Engineer', 45807.0)
(2022, 'US', 'Data Scientist', 120160.0)
(2022, 'US', 'Data Analyst', 90320.0)
(2022, 'US', 'Data Engineer', 181940.0)
(2022, 'US', 'Data Engineer', 132320.0)
(2022, 'US', 'Data Engineer', 220110.0)
(2022, 'US', 'Data Engineer', 160080.0)
(2022, 'US', 'Data Scientist', 180000.0)
(2022, 'US', 'Data Scientist', 120000.0)
(2022, 'US', 'Data Analyst', 124190.0)
(2022, 'US', 'Data Analyst', 130000.0)
(2022, 'US', 'Data Analyst', 110000.0)
(2022, 'US', 'Data Analyst', 170000.0)
(2022, 'US', 'Data Analyst', 115500.0)
(2022, 'US', 'Data Analyst', 112900.0)
(2022, 'US', 'Data Analyst', 90320.0)
(2022, 'US', 'Data Analyst', 112900.0)
(2022, 'US', 'Data Analyst', 90320.0)
(2022, 'US', 'Data Engineer', 165400.0)
(2022, 'US', 'Data Engineer', 132320.0)
(2022, 'US', 'Data Analyst', 167000.0)
(2022, 'US', 'Data Engineer', 243900.0)
(2022, 'US', 'Data Analyst', 136600.0)
(2022, 'US', 'Data Analyst', 109280.0)
(2022, 'US', 'Data Engineer', 128875.0)
(2022, 'US', 'Data Engineer', 93700.0)
(2022, 'US', 'Head of Data Science', 224000.0)
(2022, 'US', 'Head of Data Science', 167875.0)
(2022, 'US', 'Analytics Engineer', 175000.0)
(2022, 'US', 'Data Engineer', 156600.0)
(2022, 'US', 'Data Engineer', 108800.0)
(2022, 'US', 'Data Scientist', 95550.0)
(2022, 'US', 'Data Engineer', 113000.0)
(2022, 'US', 'Data Analyst', 135000.0)
(2022, 'US', 'Data Science Manager', 161342.0)
(2022, 'US', 'Data Science Manager', 137141.0)
(2022, 'US', 'Data Scientist', 167000.0)
(2022, 'US', 'Data Scientist', 123000.0)
(2022, 'GB', 'Data Engineer', 78526.0)
(2022, 'GB', 'Data Engineer', 65438.0)
(2022, 'US', 'Data Scientist', 150000.0)
(2022, 'US', 'Data Scientist', 211500.0)
(2022, 'CA', 'Data Architect', 192400.0)
(2022, 'CA', 'Data Architect', 90700.0)
(2022, 'CA', 'Data Analyst', 130000.0)
(2022, 'CA', 'Data Analyst', 61300.0)
(2022, 'CA', 'Data Analyst', 130000.0)
(2022, 'CA', 'Data Analyst', 61300.0)
(2022, 'US', 'Data Engineer', 160000.0)
(2022, 'US', 'Data Scientist', 138600.0)
(2022, 'US', 'Data Engineer', 136000.0)
(2022, 'US', 'Data Analyst', 58000.0)
(2022, 'US', 'Analytics Engineer', 135000.0)
(2022, 'US', 'Data Scientist', 170000.0)
(2022, 'US', 'Data Scientist', 123000.0)
(2022, 'US', 'Machine Learning Engineer', 189650.0)
(2022, 'US', 'Machine Learning Engineer', 164996.0)
(2022, 'GR', 'ETL Developer', 54957.0)
(2022, 'GR', 'ETL Developer', 54957.0)
(2022, 'CA', 'Lead Data Engineer', 118187.0)
(2022, 'US', 'Data Analyst', 132000.0)
(2022, 'US', 'Data Engineer', 165400.0)
(2022, 'US', 'Data Architect', 208775.0)
(2022, 'US', 'Data Architect', 147800.0)
(2022, 'US', 'Data Engineer', 136994.0)
(2022, 'US', 'Data Engineer', 101570.0)
(2022, 'US', 'Data Analyst', 128875.0)
(2022, 'US', 'Data Analyst', 93700.0)
(2022, 'IN', 'Head of Machine Learning', 79039.0)
(2022, 'US', 'Data Engineer', 132320.0)
(2022, 'GB', 'Machine Learning Engineer', 37300.0)
(2022, 'US', 'Data Analyst', 164000.0)
(2022, 'US', 'Data Engineer', 155000.0)
(2022, 'GB', 'Machine Learning Engineer', 124333.0)
(2022, 'GB', 'Machine Learning Engineer', 98158.0)
(2022, 'US', 'AI Scientist', 120000.0)
(2022, 'US', 'Data Analyst', 112900.0)
(2022, 'US', 'Data Analyst', 90320.0)
(2022, 'US', 'Data Analytics Manager', 145000.0)
(2022, 'US', 'Data Analytics Manager', 105400.0)
(2022, 'FR', 'Machine Learning Engineer', 87932.0)
(2022, 'GB', 'Data Engineer', 117789.0)
(2022, 'US', 'Data Scientist', 215300.0)
(2022, 'US', 'Data Scientist', 158200.0)
(2022, 'US', 'Data Engineer', 209100.0)
(2022, 'US', 'Data Engineer', 154600.0)
(2022, 'US', 'Data Analyst', 115934.0)
(2022, 'US', 'Data Analyst', 81666.0)
(2022, 'US', 'Data Engineer', 175000.0)
(2022, 'GB', 'Data Engineer', 98158.0)
(2022, 'US', 'Data Analyst', 58000.0)
(2022, 'US', 'Data Engineer', 183600.0)
(2022, 'GB', 'Data Analyst', 52351.0)
(2022, 'US', 'Data Scientist', 180000.0)
(2022, 'GB', 'Data Scientist', 71982.0)
(2022, 'GB', 'Data Scientist', 45807.0)
(2022, 'GR', 'Data Engineer', 65949.0)
(2022, 'GR', 'Data Engineer', 49461.0)
(2022, 'GB', 'Data Engineer', 78526.0)
(2022, 'GB', 'Data Engineer', 58894.0)
(2022, 'US', 'Data Scientist', 260000.0)
(2022, 'AR', 'Data Science Engineer', 60000.0)
(2022, 'US', 'Data Engineer', 63900.0)
(2022, 'US', 'Machine Learning Scientist', 160000.0)
(2022, 'US', 'Machine Learning Scientist', 112300.0)
(2022, 'US', 'Data Science Manager', 241000.0)
(2022, 'US', 'Data Science Manager', 159000.0)
(2022, 'US', 'Data Scientist', 180000.0)
(2022, 'US', 'Data Scientist', 80000.0)
(2022, 'US', 'Data Engineer', 82900.0)
(2022, 'US', 'Data Engineer', 100800.0)
(2022, 'ES', 'Data Engineer', 49461.0)
(2022, 'US', 'Data Scientist', 140400.0)
(2022, 'GB', 'Data Analyst', 39263.0)
(2022, 'ES', 'Data Analyst', 43966.0)
(2022, 'ES', 'Data Analyst', 32974.0)
(2022, 'ES', 'Data Engineer', 87932.0)
(2022, 'ES', 'Data Engineer', 76940.0)
(2022, 'GB', 'Data Engineer', 104702.0)
(2022, 'GB', 'Data Engineer', 91614.0)
(2022, 'ES', 'Data Engineer', 65949.0)
(2022, 'GR', 'Data Engineer', 87932.0)
(2022, 'US', 'Machine Learning Engineer', 189650.0)
(2022, 'US', 'Machine Learning Engineer', 164996.0)
(2022, 'GR', 'Data Analyst', 43966.0)
(2022, 'GR', 'Data Analyst', 32974.0)
(2022, 'GB', 'Data Engineer', 98158.0)
(2022, 'GB', 'Data Engineer', 78526.0)
(2022, 'US', 'Data Scientist', 215300.0)
(2022, 'GR', 'Data Engineer', 76940.0)
(2022, 'US', 'Data Engineer', 209100.0)
(2022, 'US', 'Data Engineer', 154600.0)
(2022, 'US', 'Data Engineer', 180000.0)
(2022, 'PT', 'ML Engineer', 21983.0)
(2022, 'US', 'Data Engineer', 80000.0)
(2022, 'CA', 'Machine Learning Developer', 78791.0)
(2022, 'CA', 'Director of Data Science', 196979.0)
(2022, 'US', 'Machine Learning Engineer', 120000.0)
(2022, 'US', 'Computer Vision Engineer', 125000.0)
(2022, 'US', 'NLP Engineer', 37236.0)
(2022, 'US', 'Data Engineer', 105000.0)
(2022, 'DE', 'Lead Machine Learning Engineer', 87932.0)
(2022, 'IN', 'Business Data Analyst', 18442.0)
(2022, 'IN', 'Data Scientist', 31615.0)
(2022, 'PT', 'Machine Learning Infrastructure Engineer', 58255.0)
(2022, 'US', 'Financial Data Analyst', 100000.0)
(2022, 'DE', 'Data Engineer', 54957.0)
(2022, 'IN', 'Data Scientist', 18442.0)

In [6]:
import pandas as pd
df = pd.DataFrame(results)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       608 non-null    int64
 1   country    608 non-null    object
 2   job_title  608 non-null    object
 3   salary     608 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 19.1+ KB

In [8]:
# Agregar los nombres de columnas
col_titles = ['year','country','job_title','salary']
df.columns = col_titles

A csv

In [11]:
df.to_csv('ds_salaries.csv')

In [ ]:
cursor.close()
connection.close()